/*--------------------------------------------------------------
1.0 Buttons
--------------------------------------------------------------*/
input[type="submit"]:not(.wpcf7-submit){
	padding: 16px 34px;
	text-transform: uppercase;
    @include transition(all .3s);
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: none;
    white-space: nowrap;
    padding: 12px 16px;
    font-size: 11px;
    line-height: 14.4px;
    color: #333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
    @include transition(all .3s);
    &:hover,&:active,&:focus,&:active:focus{
        box-shadow: none;
        outline: none;
    }
}
input[type="submit"]:not(.wpcf7-submit),
.btn-default{
    background-color: #fff;
    border-right: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    border-bottom: 3px solid $secondary_color;
    &:hover,&:active,&:focus,&:active:focus{
        background-color: #fff; 
        border-bottom-color: $primary_color !important; 
        color: #333; 
        border-color: #ebebeb;
    }
}

.btn-primary {
    background-color: #fff;
    border-right: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    border-bottom: 3px solid $primary_color;
}
.btn-third {
    border-bottom: 3px solid #156E8B;
    color: #333 !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    background-color: $secondary_color;
    border-bottom: 3px solid #0087b3;
    font-family: 'Roboto Condensed';
    @include transition(all .3s !important) ;
    &:hover{
        background-color: $secondary_color !important;
        border-bottom-color: $primary_color !important; 
    }
}
.tp-caption a.btn.btn-tran{
    padding: 16px 31px !important;
}
.btn-tran{
    padding: 16px 31px !important;
    font-size: 13px !important;
    color: #fff !important;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 3px solid $secondary_color;
    border-left: 1px solid #fff;
    @include transition(all .3s !important) ;
    &:hover{
        border-bottom-color: $primary_color !important; 
    }
}
.rv-readmore{
    font-family: 'Roboto Condensed';
    color: #333 !important;
    text-decoration: none;
    text-transform: uppercase;
    &:hover{
        text-decoration: none;
    }
}
/*.btn:hover {
    background-color: #fff;
    border-bottom-color: $primary_color !important;
    color: #333;
}*/
.woocommerce a.added_to_cart:hover{
    border-bottom-color: $primary_color;
    color: #333;
}
.country_to_state.form-control{
    border-radius: 0;
}