/*--------------------------------------------------------------
2.0 - Content and comment
--------------------------------------------------------------*/
/*------------------------------
  2.1 - General
------------------------------*/
#main{
  overflow: hidden;
}

.wpb_text_column p{
    margin: 0 0 9px !important;
}
.page ul,.post ul{
    list-style-position: inside;
}

.entry-content .wpb_row, 
.entry-content .wpb_content_element, 
.entry-content ul.wpb_thumbnails-fluid > li, 
.entry-content .wpb_button{
    margin-bottom: 0;
    position: relative;
}
.blog-archive,.blog-search,.blog-author,.blog-index{
    .widget-area{
      .textwidget{
        margin-top: 40px;
      }
    }
}
#page-left-sidebar{
    .widget-area{
        padding-left: 0;
        .textwidget{
            margin-top: 40px;
        }
    }
}
.single-row{
   
    .post .entry-content.ui-text .wpb_row .container{
      padding: 0;
    }
}
.woocommerce.widget_product_search{
    margin-top: 12px;
}
.blog-author{
    .author-avatar{
        img{
            float: left;
            margin-right: 20px;
            vertical-align: middle;
            margin-top: 5px;
        }
    }
}

/*------------------------------
  2.2 - Portfolio page
------------------------------*/
.hide-video-download .portfolio-page{
    margin-top: 40px;
}
.portfolio-page{
  p{
      margin-bottom: 15px;
      line-height: 1.7;
      font-weight: 300;
      color: #333;
  }
  .btn.button-medium {
      margin-top: 35px; 
      padding: 12px 26px;
      font-size: 14px;
      border-bottom-color: $primary_color;
  }
  .sub-title-on-top.ui-title-inner {
      margin-bottom: 15px;
      margin-top: 15px;
      text-transform: uppercase;
      font-weight: 500;
  }
  .home-fancyboxes-wraper.cms-fancyboxes-wraper{
      margin-bottom: 25px !important;
  }
}
.contact-footer-page.border-wave_secondary{
    padding-top: 60px;
    padding-bottom: 50px;
    position: relative;
    &:after {
        position: absolute;
        top: -7px;
        z-index: 700;
        display: block;
        width: 100%;
        content: '';
        background: url(../images/wavefoot.png) repeat-x;
        height: 22px;
    }
}
.contact-footer-page.triagl{
    padding-top: 40px ;
    padding-bottom: 50px ;
    margin-top: 150px;
}
.contact-footer-page.portfolio-footer-page{
    margin-top: 115px;
}
.contact-footer-page{
    background-color: $secondary_color;
    z-index: 1;
    .row{
      padding-left: 25px;
      padding-right: 25px;
    }
    .cms-social{
      text-align: center;
      margin-top: 10px;
      margin-bottom: 14px;
      padding-left: 0;
      li {
        padding-right: 5px;
        padding-left: 5px;
        margin: 0 ;
      }
      li .icon {
        font-size: 15px;
        font-weight: 400;
        color: rgba(51,51,51,.5);
        @include transition (all .3s);
        &:hover {
          color: #333;
        }
      }
    }
    .textwidget {
      margin-top: 0;
  }
}

/*------------------------------
  2.3 - Post
------------------------------*/
  .post{
    margin-top: 65px;
    &:first-child{
      margin-top: 0;
    }

  }  
.post:not(.sticky) .entry-title i.fa-thumb-tack{
	display: none;
}
.product,.portfolio,.post{
    .border-color {
        border-color: #ebebeb;
        &:after {
            margin-left: 0;
            width: 100px;
        }
    }
  .info-post {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      margin-bottom: 0;
      padding-top: 10px;
      width: 60px;
      height: 60px;
      line-height: 1;
      text-align: center;
      background-color: $secondary_color;
      list-style: none;
      padding-left: 0;
      margin-top: 0;
      .date {
          font: 700 22px 'Roboto Condensed';
      }
      .month {
          font-size: 11px;
          font-weight: 400;
          text-transform: uppercase;
      }
  }
  img{
      display: block;
      max-width: 100%;
      height: auto;
  }
  .carousel-control{
      width: 40px;
      height: 40px;
      background-color: rgba(25,27,39,.3);
      background-image: none !important;
      position: absolute;
      bottom: 0;
      left: auto;
      top: auto;
      &.left{
        right: 43px;
      }
      &.right{
        right: 0;
      }
      span{
        font-size: 16px;
      }
      &:hover{
          color: #000;
      }
  }
  .footer-panel {
    margin-top: 75px;
    &:after {
      display: table;
      clear: both;
      content: '';
    }
    .footer-panel__title {
      margin-right: 15px;
      float: left;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .tags-group {
      margin-left: 55px;
      margin-top: 0;
      list-style: none;
      padding-left: 0;
      li {
          @media screen and (max-width: 767px){
              display: block;
          }
      }
      a {
        padding-right: 7px;
        font-size: 12px;
        font-weight: 400;
        color: #999;
        &:hover {
          text-decoration: none;
          color: $secondary_color;
        }
      }
    }
   .social-links {
      margin-top: -5px;
      margin-right: 2px;
      margin-left: 30px;
      float: right;
      margin-bottom: 20px;
      @media screen and (max-width: 767px){
          float: none;
          margin: -5px 2px 20px 30px;
      }
      ul{
        margin: 0;
      }
      .cms-social li{
        margin-right: 0;
        a{
          margin-right: 10px;
          padding-top: 4px;
          padding-right: 0;
          display: inline-block;
          width: 30px;
          height: 24px;
          font-size: 13px;
          text-align: center;
          color: #ccc;
          background-color: #fff;
          border-top: 1px solid #ebebeb;
          border-right: 1px solid #ebebeb;
          border-left: 1px solid #ebebeb;
          position: relative;
          @include transition (all .3s);
          &:before,&:after {
            bottom: -5px;
            width: 15px;
            height: 10px;
            background-color: #fff;
            border-bottom: 1px solid #ebebeb;
            content: "";
            position: absolute;
            @include transition (all .3s);
          }
          &:before {
            right: 0;
            @include transform (skewY(-30deg))
          }
          &:after {
            left: 0;
            @include transform (skewY(30deg))
          }
          &:hover {
            color: #fff;
            background-color: $primary_color;
            &:before,&:after {
              background-color: $primary_color;
            }
          }
          i.icon{
            margin-left: 1px;
          }
        }
      }   
    }
 
    .border-color {
      margin-top: 40px;
      margin-bottom: 65px;
    }
  } 
}

.portfolio{
    margin-top: 0;
    .border-color {
        border-color: $secondary_color;
        &:after {
            margin-left: auto;
            width: 100px;
        }
    }
}
.single-portfolio .page-title{
  margin-bottom: 0;
}

@media screen and (max-width: 767px){
    .about-autor{
        .about-autor__foto{
          float: none !important;
        }
        .about-autor__inner{
          margin-left: 0 !important;
        }
    } 
     
    .comments-area .comments-list{
        .avatar-placeholder{
          float: none !important;
          display: inline-block !important;
        }
        .comment-inner{
          margin-left: 0 !important;
        }
        .children{
          margin-left: 40px !important;
        }
    }  
     
}
.entry-inner {
    position: relative;
    iframe{
      width: 100%;
    }
}
.ui-title-inner{
  a{
      color: #333;
      @include transition(color 100ms, background-color 100ms);
      &:hover{
        color: #333;
        @include transition(color 100ms, background-color 100ms);
      }
  }
}

.entry-title {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 45px;
    a{
      color: #333;
      @include transition(color 100ms, background-color 100ms);
      &:hover{
        color: $primary_color;
        @include transition(color 100ms, background-color 100ms);
      }
    }
}
 
.entry-meta {
    margin-bottom: 30px;
    font-size: 12px;
    padding-left: 0;
    li {
      margin-right: 10px;
      display: inline-block;
      a {
        color: #999;
        text-transform: uppercase;
        font-weight: 300;
      }
    }
    .icon-commets {
      margin-left: 6px;
      font-size: 16px;
      color: $primary_color;
    }

}

.entry-blog .blog-reviews {
  position: relative;
  margin-top: 60px;
  margin-bottom: 62px;
  padding: 36px 140px 50px 60px;
  background-color: $primary_color;
   blockquote {
    margin-bottom: 10px;
    font: 700 24px 'Merriweather';
    color: #fff;
    border: 0;
    p {
      line-height: 1.45;
    }
  }
  .icon {
    position: absolute;
    top: 55px;
    left: 45px;
    font-size: 20px;
    color: $secondary_color;
  }
}
 
 
.blog-reviews__autor {
  margin-left: 20px;
  display: block;
  font: 700 16px 'Roboto Condensed';
  text-transform: uppercase;
  color: #fff;
}
.single-post{
.entry-content{
  line-height: 1.7;
   p {
    line-height: 1.7;
  }
   blockquote{
    margin: 50px;
    padding: 26px 80px 30px 96px;
    position: relative;
    background-color: #26c9ff;
    font: 700 22px 'Merriweather';
    color: #fff;
    border: 0;
    &:before{
      position: absolute;
      content: "";
      top: 30px;
      left: -50px;
      padding-top: 32px;
      width: 100px;
      height: 100px;
      font-size: 24px;
      text-align: center;
      color: #333;
      background-color: #f8f8f8;
      border: 8px solid #fff;
      border-radius: 50%;
    }
    &:after{
        content: "\f10d";
        font-family: FontAwesome;
        display: inline-block;
        width: 16px;
        height: 16px;
        line-height: 16px;
        vertical-align: text-top;
        margin-left: 5px;
        position: absolute;
        left: -14px;
        color: #000;
        top: 70px;
        font-size: 24px;
    }  
    p {
      line-height: 1.45;

    }
    .blog-reviews__autor{
      margin-top: 17px;
    }
  }
  ul.list-mark_small{
    list-style: none;
    margin: 50px 50px;
    padding-left: 0;
    li{
      a{
          font-family: 'Roboto Condensed';
          font-size: 16px;
          font-weight: 400;
          color: #333;
          line-height: 32px;
          position: relative;
          display: block;
          padding-left: 45px;

          &:before{
              content: "";
              width: 12px;
              height: 16px;
              background-color: $primary_color;
              left: 0;
              top: 8px;
              display: inline-block;
              position: absolute;
          }
          &:after{
              content: "";
              border-color: transparent transparent transparent $primary_color;
              border-width: 8px;
              border-style: solid;
              position: absolute;
              left: 12px;
              top: 8px;
              display: inline-block;
          }
          &:hover,&:focus{
            text-decoration: none;
            &:before{
              background-color: $secondary_color;
            }
            &:after{
              border-color: transparent transparent transparent $secondary_color;
            }
          }
      }
    }
  }
} 
}
.entry-footer {
  margin-top: 35px;
  margin-bottom: 65px;
  .btn {
    padding: 10px 19px 12px;
    font-size: 11px;
    font-weight: 300;
  }
}
/* single post */
.single-post{
  .entry-content{
    .container{
      width: 100% !important;
    }
    .blog-reviews{
        margin: 50px;
        padding: 26px 60px 30px 73px;
        @media screen and (max-width:767px) {
            margin-right: 0;  
        }
        blockquote {
          font-size: 22px;
          .icon {
            position: absolute;
            top: 30px;
            left: -50px;
            padding-top: 32px;
            width: 100px;
            height: 100px;
            font-size: 24px;
            text-align: center;
            color: #333;
            background-color: #f8f8f8;
            border: 8px solid #fff;
            border-radius: 50%;
        }
      }
    }
  }
}

/* Author */
.about-autor {
    padding: 30px;
    background-color: #f8f8f8;
    margin-bottom: 45px;
    .about-autor__foto {
        float: left;
        overflow: hidden;
        width: 121px;
        height: 121px;
        border: 7px solid #ebebeb;
        border-radius: 50%;
        img{
            display: block;
            max-width: 100%;
            height: auto;
        }
    }
    .about-autor__inner {
        margin-top: 10px;
        margin-left: 155px;
        .about-autor__name {
          display: inline-block;
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
        }
        .about-autor__category {
            margin-left: 12px;
            display: inline-block;
            font-size: 11px;
            font-weight: 400;
            text-transform: uppercase;
            color: #999;
        }
        .border-color {
            margin-top: 10px;
            margin-bottom: 30px;
            margin-left: 0;
            width: 220px;
            &:after {
                margin-left: 0;
                width: 90px;
            }
        }
    }
}
 
/*------------------------------
  2.4 - Page
------------------------------*/
.page-numbers {
  position: relative;
  text-align: center;
  -webkit-transition: all .3s;
       -o-transition: all .3s;
          transition: all .3s;
}

.page-numbers:before,
.page-numbers:after {
  position: absolute;
  content: '';
  -webkit-transition: all .3s;
       -o-transition: all .3s;
          transition: all .3s;
}

.page-numbers:before {
  right: 0;
  -webkit-transform: skewY(20deg);
       -o-transform: skewY(20deg);
          transform: skewY(20deg);
}

.page-numbers:after {
  left: 0;
  -webkit-transform: skewY(-20deg);
       -o-transform: skewY(-20deg);
          transform: skewY(-20deg);
}

.page-numbers:hover,
.page-numbers:hover:before,
.page-numbers:hover:after {
  text-decoration: none;
}



 .paging-navigation > span, .paging-navigation a{
    display: inline-block;
    margin-left: 3px;
    margin-right: 4px;
 }  
.cms-grid-blog-fullwidth{
    .paging-navigation {
        margin-top: 0;
    }
}
 .paging-navigation {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 67px;
    .pagination-title {
      margin-right: 22px;
      padding-top: 5px;
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
      vertical-align: top;
      text-transform: uppercase;
    }
    .pagination{
      margin-top: 0;
      margin-bottom: 9px;
      .page-numbers{
        width: 30px;
        height: 24px;
        font-size: 11px;
        font-weight: 300;
        background-color: #fff;
        border-top: 3px solid #ebebeb;
        border-right: 1px solid #ebebeb;
        border-left: 1px solid #ebebeb;
        padding-top: 4px;
        color: #333;
        display: inline-block;
        &:before,&:after{
          bottom: -5px;
          width: 15px;
          height: 10px;
          background-color: #fff;
          border-bottom: 1px solid #ebebeb;
        }
        &:before{
          -webkit-transform: skewY(-30deg);
          -o-transform: skewY(-30deg);
          transform: skewY(-30deg);
        }
        &:after{
          -webkit-transform: skewY(30deg);
          -o-transform: skewY(30deg);
          transform: skewY(30deg);
        }
        &.current,&:hover{
           border-top: 3px solid $secondary_color;
           display: inline-block;
           background-color: $primary_color;
           color: #ffffff;
        }
        &.current:before,&.current:after,&:hover:before,&:hover:after{
          background-color: $primary_color;
          border-bottom-color: $primary_color;
        }
      }
      
    }
 }
 
 .section_404 {
    padding-bottom: 100px;
    overflow: hidden;
    text-align: center;
    background: url("../images/1.jpg") no-repeat 100% 0;
    .border-color {
      margin-bottom: 70px;
      width: 450px;
      border-bottom: 1px solid $secondary_color;
      &:after{
        width: 100px;
        margin-right: auto;
        margin-left: auto;
      }
  }
  .ui-title-inner {
      font-size: 36px;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
  }
  .info {
      margin-top: 20px;
      font-size: 18px;
      font-weight: 400;
  }
}
.search-404{
    border-top: 1px solid #ebebeb;
}
.post.section_searce-page{
    padding-top: 0;
    border: none;
}
.section_searce-page {
    padding-top: 90px;
    padding-bottom: 100px;
    text-align: center;
    .searchform  {
        position: relative;
        padding: 15px;
        border: 1px solid #ebebeb;
    }
    .ui-title-block {
        margin-bottom: 40px;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        color: #333;
    }
    .form-search__input {
        padding-right: 50px;
        width: 100%;
        background-color: transparent;
        border: none;
        min-height: inherit;
        height: 22px;
        padding: 0 50px 0 0;
    }
    .form-search__submit {
      position: absolute;
      top: 15px;
      right: 0;
      width: 50px;
      height: 22px;
      background-color: transparent;
      border-top: none;
      border-right: none;
      border-bottom: none;
      border-left: 1px solid #ebebeb;
      .icon {
          font-size: 14px;
          color: $primary_color;
      }
  }
}
@media screen and (max-width:767px){
  .section_404 {
    background: none;
  }
}

.entry-feature.entry-video iframe{
  height: 100%;
  min-height: 300px;
}

 /*------------------------------
  2.5 - Blog fullwill
------------------------------*/
.cms-grid-blog-fullwidth{
  .cms-grid-item{
    margin-bottom: 80px;
    article{
        margin-top: 0;
    }
    &:hover {
      .list-about__inner {
        background-color: $secondary_color;
        border-color: $secondary_color;
      }
      .entry-meta {
        opacity: 1;
      }
    }
  }
  .list-about__inner {
    padding: 0 25px 30px 20px;
    background-color: #fff;
  }
  .entry-meta {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    padding: 10px 15px;
    width: 100%;
    background-color: rgba(51,51,51,.5);
    opacity: 0;
    @include transition(all .3s);
    &:after {
      display: table;
      clear: both;
      content: '';
    }
    li{
      a{
        color: #fff;
        font-weight: 300;
        font-size: 12px;
      }
    }
    .reply {
      float: right;
    }
  }
  .post{
    .info-post{
      bottom: auto;
      top: 0;
    }
  } 
  .list-about__img-wrap {
    position: relative;
  }
  .entry-inner .entry-feature-image img{
    width: 100%;
  }
  .ui-title-inner {
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 35px;
    text-transform: uppercase;
    line-height: 24px;
  }
  .ui-text {
    margin-top: 20px;
    line-height: 1.7;
  }
  .btn {
    margin-top: 24px;
    font-size: 11px;
    font-weight: 300;
    line-height: 14.4px;
    padding: 12px 16px;
    border-bottom-color: $primary_color;
  }
}
.list-about__inner {
  border: 1px solid #ebebeb;
  @include transition (all .3s);
}

 @media screen and (min-width:1200px){
   .cms-grid-item.col-lg-6:nth-child(2n+1){
    clear: left;
   }
  .cms-grid-item.col-lg-4:nth-child(3n+1){
      clear: left;
   }
   .cms-grid-item.col-lg-3:nth-child(4n+1){
      clear: left;
   }
   .cms-grid-item.col-lg-2:nth-child(6n+1){
      clear: left;
   }

 }
  @media screen (min-width:992px) and (max-width:1199px){
   .cms-grid-item.col-md-6:nth-child(2n+1){
    clear: left;
   }
  .cms-grid-item.col-md-4:nth-child(3n+1){
      clear: left;
   }
   .cms-grid-item.col-md-3:nth-child(4n+1){
      clear: left;
   }
   .cms-grid-item.col-md-2:nth-child(6n+1){
      clear: left;
   }

 }
   @media screen (min-width:768px) and (max-width:991px){
   .cms-grid-item.col-sm-6:nth-child(2n+1){
    clear: left;
   }
  .cms-grid-item.col-sm-4:nth-child(3n+1){
      clear: left;
   }
   .cms-grid-item.col-sm-3:nth-child(4n+1){
      clear: left;
   }
   .cms-grid-item.col-sm-2:nth-child(6n+1){
      clear: left;
   }
 }
 @media screen and (max-width: 767px){
  .cms-grid-blog-fullwidth .cms-grid-item{
      max-width: 370px;
      margin-left: auto;
      margin-right: auto;
      float: none;
      &:last-child{
        margin-bottom: 0;
      }
  }
 }
 
 

/*------------------------------
  2.6 - Comment
------------------------------*/
.page-content,
#page-front-page,
#page-right-sidebar,
#page-left-sidebar{
  .comments-area{
    padding-top: 0;
  }
} 
.comments-area{
  padding-top: 20px;
    .comments-title{
        margin-top: 55px;
        padding-bottom: 22px;
        font: 700 16px 'Roboto Condensed';
        text-transform: uppercase;
        color: #333;
        border-bottom: 3px solid $secondary_color;
    }
    .comments-list {
        margin-top: 45px;
        padding-left: 0;
        .comment-body{
          position: relative;
          margin-bottom: 50px;
        }
        li{
          list-style: none;
        }
        .avatar-placeholder {
            float: left;
            overflow: hidden;
            border: 7px solid #f8f8f8;
            border-radius: 50%;
        }
        .comment-inner {
            margin-left: 120px;
            padding: 30px 30px 35px 30px;
            border: 1px solid #ebebeb;
            .comment-header {
                margin-bottom: 15px;
                overflow: hidden;
                text-transform: uppercase;
                .comment-author {
                    font-size: 14px;
                    font-weight: 700;
                    color: $primary_color;
                }
                .comment-datetime {
                    float: right;
                    font-size: 11px;
                    font-weight: 400;
                    color: #999;
                }
            }
            .comment-content{
				li{
					list-style: inherit;
				}
			}
            .comment-awaiting-moderation{
                color: #108927;
                font-style: italic;
            }
        }
        .comment-reply {
            position: absolute;
            right: 0;
            bottom: 0;
            text-align: right;
            .comment-reply-link {
                padding: 11px 23px 9px;
                font-size: 10px;
                font-weight: 700;
                background-color: #f8f8f8;
                border-bottom: 3px solid $primary_color;
                display: inline-block;
                margin-bottom: 0;
                text-align: center;
                vertical-align: middle;
                cursor: pointer;
                background-image: none;
                white-space: nowrap;
                line-height: 1.42857143;
                color: #333;
                text-transform: uppercase;
                transition: all .3s;
                &:hover{
                      color: #4C6377;
                      text-shadow: -1px 1px rgb(255, 255, 255);
                      text-decoration: none;
                }
            }
        }
        .children {
            margin-left: 70px;
            padding-left: 0;
        }
    }

    .comment-respond{
      .comment-reply-title{
          padding-bottom: 21px;
          font: 700 16px 'Roboto Condensed';
          text-transform: uppercase;
          color: #333;
          margin-top: 20px;
          border-bottom: 3px solid $secondary_color;
          margin-bottom: 45px;
      }
    }
}

/*------------------------------
  2.6.1 - Comment form
------------------------------*/
.comment-form{
    .input-group {
        position: relative;
        display: table;
        width: 100%;
        height: 50px;
        border-collapse: separate;
        color: #999;
        font-size: 12px;
        margin-bottom: 20px;
        .form-control {
            margin-bottom: 0;
            border: 1px solid #ebebeb;
            box-shadow: none;
        }
    }
    .btn {
        padding-top: 12px;
        padding-bottom: 12px;
        font-family: 'Roboto Condensed';
        font-size: 18px;
        color: #333;
        background-color: #fff;
        border: 1px solid #ebebeb;
        border-bottom: 3px solid $primary_color;
        width: 100%;
        margin-bottom: 20px;
        margin-top: -10px;
        .icon {
            margin-left: 9px;
            font-size: 15px;
            color: $primary_color;
            vertical-align: middle;
        }
    }
}
