/*--------------------------------------------------------------
3.0 - Elements
--------------------------------------------------------------*/
/*Fix row full width*/
.cms-row-full-width > .no-container > .row {
  margin-left: 0;
  margin-right: 0;
}

/*------------------------------
  3.1 - Custom heading
------------------------------*/
h2.ui-title-block {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 300;
	color: #999;
    text-transform: uppercase;
    line-height: 1.1;
}
h2.ui-title-block.font-20{
    font-size: 20px;
}
.ui-subtitle-block {
	margin-bottom: 20px;
	font-size: 26px;
	font-weight: 500;
	text-transform: uppercase;
	color: #333;
    line-height: 1.5;

}

.ui-subtitle-block strong {
	font-weight: 700;
	text-transform: uppercase;
}
.sub-title-on-top.ui-subtitle-block{
    margin-top: 0;
    margin-bottom: 5px;
    line-height: 1.1;
}
.heading-left-border-left.border-color{
    margin-top: 30px;
    margin-bottom: 35px;
    width: 100%;
    margin-left: 0;
}
.heading-left-border-left.border-color:after {
    margin-left: 0;
    width: 100px;
}
h2.ui-title-block.heading-center-border-center,.heading-center-border-center.ui-subtitle-block,.ui-title-inner.heading-center-border-center{
	text-align: center;
}
.heading-center-border-center.border-color{
    margin-top: 25px;
    margin-bottom: 55px;
    width: 470px;
    &:after {
	    width: 100px;
	}
}
h2.ui-title-block.heading-center-border-left,.heading-center-border-left.ui-subtitle-block{
	text-align: center;
}
.heading-center-border-left.border-color{
    margin-bottom: 55px;
    width: 370px;
    &:after {
	    width: 100px;
        margin-left: 0;
	}
}
h2.ui-title-block.heading-left-border-center,.heading-left-border-center.ui-subtitle-block{
	text-align: left;
}

.heading-left-border-center:after {
    width: 100px;
}
.custom-heading-layout1.sub-title-on-top.ui-subtitle-block{
	text-transform: none;
	margin-bottom: 20px;
    font-size: 26px;
    font-weight: 500;
    color: #333;
    margin-top: 18px;
}
.custom-heading-layout1.heading-left-border-left.border-color{
	margin-top: 28px;
	margin-bottom: 47px;
}
h2.ui-title-block.layout3-small{
	font-size: 16px;
}
.ui-subtitle-block.layout3-small{
	font-size: 22px;
    line-height: 1.4;
}
.heading-left-border-left.border-color.layout3-small{
	margin-top: 0;
    @media (min-width: 768px) and (max-width: 991px){
        width: 75% !important;
    }
} 
@media screen and (max-width:767px) {
	.heading-center-border-center.border-color{
	    width: 370px;
	}
}

/*------------------------------
  3.2 - Fancy box
------------------------------*/
.cms-fancyboxes-wraper .cms-fancyboxes-title {
	font-family: 'Roboto Condensed';
	font-size: 16px;
    font-weight: 700;
}
.home-fancyboxes-wraper.cms-fancyboxes-wraper {
    margin-right: -2px;
    margin-bottom: 60px;
    padding-right: 40px;
    display: inline-block;
    width: 50%;
    font-size: 16px;
    vertical-align: top;
    .cms-fancyboxes-head {
	    margin-left: 88px;
	    .cms-fancyboxes-title {
		    margin-top: 0;
		    margin-bottom: 15px;
		    font-family: 'Roboto Condensed';
		    font-size: 16px;
		    font-weight: 700;
		    text-transform: uppercase;
	     	line-height: 1.1;
		}
		.cms-fancyboxes-description {
		    font-family: 'Roboto';
		    font-size: 13px;
		    font-weight: 300;
		    line-height: 22px;
		    color: #333;
		    p{
		    	line-height: 22px;
		    }
		}

	}
	.cms-fancyboxes-body {
	    .cms-fancybox-item {
		    .fancy-box-icon{
	    	    width: 60px;
			    height: 60px;
                float: left;
			    color: $secondary_color;
			    background-color: #fff;
			    border-top: 1px solid #ebebeb;
			    border-right: 1px solid #ebebeb;
			    border-left: 1px solid #ebebeb;
			    position: relative;
			    text-align: center;
			    -webkit-transition: all .3s;
			    -o-transition: all .3s;
			    transition: all .3s;
			    &:before,&:after{
		    	    bottom: -5px;
				    width: 30px;
				    height: 10px;
				    background-color: #fff;
				    border-bottom: 1px solid #ebebeb;
			        position: absolute;
    				content: '';
				    @include transition(all .3s);
			    }
			    &:before{
		    	    right: 0;
		    	    @include transform(skewY(-20deg));
			    }
			    &:after{
			    	left: 0;
			    	@include transform(skewY(20deg));
			    }
		    	i{
				    padding-top: 14px;
				    font-size: 30px;
				}
		    }
		    
		}
		&:hover{
	    	.fancy-box-icon{
	    	    text-decoration: none;
			    color: #fff;
			    background-color: $primary_color;
			    border-color: $primary_color;
			    &:before,&:after{
			    	text-decoration: none;
				    color: #fff;
				    background-color: $primary_color;
				    border-color: $primary_color;
				}
			}
	    }
	}
	.cms-fancyboxes-foot{
		margin-top: 30px;
	}
}
.single-portfolio .home-fancyboxes-wraper.cms-fancyboxes-wraper .cms-fancyboxes-head .cms-fancyboxes-description p{
	line-height: 1.7;
}
@media screen and (max-width:767px) {
	.home-fancyboxes-wraper.cms-fancyboxes-wraper{
		width: 100%;
		margin-bottom: 30px;

	}
}

/*------------------------------
  3.2.1 - Fancy box layout1
------------------------------*/
.list-mark-item.template-cms_fancybox_single--layout1{
	margin-top: 30px;
    padding-left: 35px;
    display: inline-block;
    vertical-align: top;
    text-indent: -35px;
    width: 100%;
    .list-mark-link {
	    font-family: 'Roboto Condensed';
	    font-size: 16px;
	    font-weight: 400;
	    text-transform: uppercase;
	    color: #333;
	    line-height: 32px;
	    .icon {
		    position: relative;
		    margin-right: 20px;
		    display: inline-block;
		    width: 18px;
		    height: 22px;
		    vertical-align: middle;
		    background-color: $primary_color;
		    margin-left: 0;
	     	@include transition(all .3s);
		    &:before,&:after {
			    position: absolute;
			    right: -3px;
			    width: 6px;
			    height: 11px;
			    content: '';
			    background-color: $primary_color;
			    @include transition(all .3s);
			}
		    &:before {
			    top: 0;
			    @include transform(skewX(25deg));
			}
			&:after {
			    bottom: 0;
			    @include transform(skewX(-25deg));
			}
		}
        &:hover {
            text-decoration: none;
        }
	}
    &:hover {
        .icon {
            text-decoration: none;
            background-color: $secondary_color;
            &:before,&:after{
                text-decoration: none;
                background-color: $secondary_color;
            }
        }
    }
}
.portfolio .list-mark-item.template-cms_fancybox_single--layout1 .list-mark-link{
	font-size: 14px;
}
.list-mark-item.template-cms_fancybox_single--layout1.list-mark_small{
	margin-top: 5px;
	padding-right: 30px;
	.list-mark-link {
		text-transform: inherit;
		@media screen and (max-width: 767px){
			display: block;
		    margin-left: auto;
		    margin-right: auto;
		    max-width: 320px;
		}
		.icon {
			width: 14px;
			height: 16px;
			&:before,&:after {
				height: 8px;
			}
		}
	}
}

/*------------------------------
  3.2.2 - Fancy box layout2
------------------------------*/
.cms-fancybox-icon-top{
    position: relative;
    top: 0;
    padding: 0 6px;
    @include transition(all .3s);
	&:hover{
		top: -30px;
		i{
			color: $secondary_color;
		}
		.fancy-box-text-title{
			color: #333;
		}
		.fancy-box-content{
			opacity: 1;
		}
	}
	a{
		text-align: center;
		text-decoration: none;
	}
	i{
		display: block;
	    font-size: 62px;
	    color: $primary_color;
     	@include transition(all .3s);
     	
	}
	i.fa{
 		padding-top: 6px;
 		padding-bottom: 20px;
 	}
	.fancy-box-text-title{
	    margin-top: 10px;
	    display: block;
	    font-size: 16px;
	    line-height: 1.2;
	    color: #999;
	    padding: 0 10px;
	    font-family: 'Roboto Condensed';
	    @include transition(all .3s);
	}
	.fancy-box-content{
		margin-bottom: 20px;
    	display: block;
	    font-family: 'Roboto Condensed';
	    line-height: 1;
	    color: #333;
	    opacity: 0;
	    font-weight: 300;
     	@include transition(all .3s);
	}
	.border-color{
	    margin-top: 38px;
	    margin-bottom: 44px;
	    width: 100%;
	    &:after {
			top: 1px;
			width: 70px;
			border-width: 1px;
		}
	}

}
@media screen and (max-width:767px) {
	.fancybox-icon-top .container{
		text-align: center; 
	}
}

/*------------------------------
  3.2.3 - Fancy box layout3
------------------------------*/
.cms-fancyboxes-wraper-bgcolor{
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
	text-align: center;
	position: relative;
	top: -110px;
	.fancy-box-icon{
	    margin-top: 34px;
	    display: block;
	    font-size: 68px;
        padding-top: 24px;
	}
	.list-pennant-title {
	    margin-bottom: 15px;
	    font-size: 18px;
	    font-weight: 500;
	}
	.fancy-box-content{
		font-weight: 300;
	}
	&:after{
	    position: absolute;
	    z-index: 1000;
	    bottom: -50px;
	    left: 0;
	    display: block;
	    width: 100%;
	    content: '';
	    border-top: 26px solid;
	    border-right: 15em solid transparent;
	    border-bottom: 25px solid transparent;
	    border-left: 15em solid transparent;
	}
	svg{
		position: absolute;
		left: 0;
		width: 100%;
	}
}

/*------------------------------
  3.2.4 - Fancy box layout6
------------------------------*/
.home-fancyboxes-wraper.cms-fancyboxes-wraper.layout6{
	width: 100%;
	padding-right: 0;
	@media screen and (max-width:767px) {
	 	clear: both;
	    display: block;
	    float: none;
	    margin-left: auto;
	    margin-right: auto;
	    max-width: 370px;
	    overflow: hidden;
	}
}
.home-fancyboxes-wraper.cms-fancyboxes-wraper.layout6.advantages-list_right{
	.cms-fancyboxes-body .cms-fancybox-item .fancy-box-icon{
        float: right;
    }
	@media screen and (min-width:768px) {
		 text-align: right;
		 padding-right: 0;
		 .cms-fancyboxes-head{
		 	margin-right: 88px;
		 	margin-left: 0;
		 }

	}
    @media screen and (max-width:767px) {
        .cms-fancyboxes-body .cms-fancybox-item .fancy-box-icon{
           float: left;
        }
    }
}

/*------------------------------
  3.3 - Vc raw_html
------------------------------*/
@media screen and (min-width: 992px) and (max-width: 1199px){
	.home h2.form-order-title{
		margin-top: 1px;
	}
}
@media screen and (min-width: 1200px){
	.home h2.form-order-title{
		margin-top: -5px;
	}
}
h2.form-order-title{
    position: relative;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: -5px;
    padding-top: 60px;
    float: left;
    width: 307px;
    height: 307px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    background-color: #f8f8f8;
    border: 11px solid #fff;
    @include border-radius(50%);
    line-height: 1.1;
    .icon {
	    font-size: 50px;
	    color: $primary_color;
        display: inline;
	}
	.border-color {
	    margin-top: 23px;
	    margin-bottom: 20px;
	    width: 100px;
	    border-width: 3px;
	    display: block;
	    &:after {
		    position: relative;
		    top: 3px;
		    margin: auto;
		    display: block;
		    content: '';
		    border-bottom: 3px solid $primary_color;
	        width: 30px;
		}
	}
	strong {
	    display: block;
	    font-size: 26px;
	    font-weight: 700;
	}
}
.entry-content div.wpcf7{
	margin-right: 20px;
}
h2.form-order-title.about{
    margin-top: 24px;
    padding-top: 67px;
    width: 268px;
    height: 268px;
	font-size: 18px;
    border: 9px solid $secondary_color;
    margin-left: 60px;
    @media (min-width: 992px) and (max-width: 1100px){
        margin-left: 0;
    }
    @media screen and (max-width: 767px){
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        max-width: 100%;
        width: 245px;
    	height: 245px;
    }
	strong{
		font-size: 20px;
	}
	&:after{
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 250px;
	    height: 250px;
	    content: '';
	    border-radius: 50%;
	    box-shadow: 0 0 8px 0 rgba(0,0,0,.22);
	    @media screen and (max-width: 767px){
	    	margin-left: auto;
        	margin-right: auto;
        	position: relative;
        	width: 245px;
	    	height: 245px;
	    }
	}
}
@media screen and (max-width:767px) {
	h2.form-order-title{
		float: none;
	}
	.entry-content div.wpcf7{
		margin-right: 0;
	}
}

/*------------------------------
  3.4 - Cms carousel service
------------------------------*/
.owl-controls{
	position: absolute;
	top: -70px;
	right: 5px;
	text-align: center;
	@media screen and (max-width:767px) {
	 	right: 0;
	}
	.owl-nav{
		div{
			position: relative;
			display: inline-block;
			width: 27px;
			height: 30px;
			margin-right: 3px;
			vertical-align: middle;
			color: #FFF;
			background-color: $primary_color;
			transition: all .3s;
			&:before,&:after{
				position: absolute;
				width: 8px;
				height: 15px;
				content: '';
				background-color: $primary_color;
				transition: all .3s;
			}
			&:hover{
				background-color: $secondary_color;
				color: #000;
				&:before,&:after{
					background-color: $secondary_color;
					color: #000;
				}
			}
			i{
				display: inline-block;
				padding-top: 6px;
				font-size: 16px;
			}
		}
		.owl-next{
			&:before,&:after{
				right: -4px;
			}
			&:before{
				top: 0;
				transform: skewX(20deg);
			}
			&:after{
				bottom: 0;
				transform: skewX(-20deg);	
			}
			i{
				padding-left: 3px;
			}
		}
		.owl-prev{
			&:before,&:after{
				left: -4px;
			}
			&:before{
				bottom: 0;
				transform: skewX(20deg);
			}
			&:after{
				top: 0;
				transform: skewX(-20deg);	
			}
			i{
				padding-right: 3px;
			}
		}
	}
}
.home-service-carousel {
	.owl-item{
		&:hover .slider-services-info{
			background-color: $secondary_color;	
		}
		.slider-services-info {
			padding: 30px 25px;
			background-color: #fff;
			@include transition(all .3s);
			line-height: 1.4;
			&:hover{
				background-color: $secondary_color;
			}
			.cms-carousel-title {
				font-size: 16px;
				font-weight: bold;
				text-transform: uppercase;
			}
			.cms-carousel-subtitle {
				font-size: 12px;
				font-weight: 400;
			    text-transform: uppercase;
			    line-height: 20px;
			}
		}
	}
	
}
@media screen and (max-width:767px) {
	.home-service-carousel {
		text-align: center;
		.owl-item{
			.cms-carousel-item{
				display: inline-block;
			}
			img{
				width: auto;
				max-width: 100%;
			}
		}
	} 
}
 
/*------------------------------
  3.5 - Cms counter home
------------------------------*/ 
.cms-counter-wraper {
	color: #ffffff;
    font-family: 'Roboto Condensed';

	.cms-counter-title{
		font-size: 16px;
	}
	.cms-icon i{
	    float: left;
	    font-size: 38px;
	    color: $secondary_color;
	}
	.cms-counter{
	    display: inline-block;
	    line-height: 48px;
	    font-size: 40px;
	    font-weight: 700;
	    margin-left: 36px;
        font-family: Roboto;
	}
	.brand-decor {
	    margin-bottom: -2px;
	    display: block;
	    width: 100%;
	    text-align: left;
	}
	.counter-item-title{
	    font-family: 'Roboto Condensed';
    	font-size: 16px;
    	letter-spacing: 1px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
    .cms-counter-wraper {
    	.cms-icon i{
		    font-size: 28px;
		}
		.cms-counter{
		    font-size: 30px;
	     	margin-left: 26px;
		}
		.counter-item-title{
	    	font-size: 13px;
		}
     }
}
@media screen and (max-width:767px) {
     .cms-counter-wraper {
    	.cms-counter-single {
    		margin-bottom: 40px;
	     	margin-left: auto;
		    margin-right: auto;
		    width: 170px;
		}
     }
}

/*------------------------------
  3.6 - Cms counter about
------------------------------*/ 
.cms-counter-wraper.cms-counter-wraper-about{
	color: #333;
	.cms-icon i{
		color: #333;
	}
}


/*------------------------------
  3.7 - Cms carousel team
------------------------------*/ 
.owl-carousel .owl-item{
	-webkit-backface-visibility: visible !important;
}
.home-team-carousel{
	.slide {
	    padding: 40px 15px 10px;
	    overflow: hidden;
	    text-align: center;
	    background-color: #fff;
	    border: 1px solid #ebebeb;
	    @include transition(all .3s);
	    &:hover {
			padding-bottom: 30px;
			background-color: $secondary_color;
			border-color: $secondary_color;
			.cms-grid-media {
				border-color: $primary_color;
				overflow: hidden;
			}
			.cms-carousel-position{
				margin-top: 0;
				opacity: 0;
			}
			.social-links{
				bottom: 0;
				opacity: 1;
			}
			.border-color {
				border-color: $primary_color;
				&:after {
					border-color: #fff;
				}
			}
		}
		.cms-grid-media {
			margin: auto;
			display: block;
			overflow: hidden;
			width: 160px;
			height: 160px;
			border: 10px solid #f8f8f8;
			border-radius: 50%;
			@include transition(all .3s);
			img {
				max-width: 100%;
				height: 100%;
			}
		}
		.cms-carousel-title{
			margin: 38px auto 18px;
			display: block;
			font-size: 15px;
			font-weight: bold;
			text-transform: uppercase;
		}
		.cms-carousel-position {
			margin-top: 20px;
			display: block;
			font-size: 13px;
			color: #999;
			opacity: 1;
			font-weight: 400;
			@include transition(all .3s);
		}
	}
	.border-color {
		width: 100px;
		border-width: 3px;
		@include transition(all .3s);
		&:after {
			width: 30px;
			@include transition(all .3s);
		}
	}
	.social-links {
		position: relative;
		bottom: -100px;
		opacity: 0;
		margin: 0;
		padding-left:0;
		@include transition(all .3s);
		a:hover {
			color: #fff;
		}
	}
}
.home-gallery{
	li{
		margin: 0 !important;
		.slide-bg {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    text-align: center;
		    background-color: rgba(2,0,65,.6);
		    opacity: 0;
		    @include transition(all .3s);
		    &:hover {
			    opacity: 1;
			}
		    .icon {
			    position: relative;
			    top: 50%;
			    margin-top: -10px;
			    display: inline-block;
			    font-size: 20px;
			    color: #fff;
			}
		}
	}
}
 

/*------------------------------
  3.8 - Cms grid moving service
------------------------------*/  
.cms-grid-wraper-smoving{
	margin-top: 65px;
	.cms-grid-item{
		margin-bottom: 35px;
		&:hover .grid-services-info{
			background-color: $secondary_color;
			border-color: $secondary_color;
		}
		&:hover .cms-grid-title, &:hover .cms-grid-subtitle{
			color: #333;
		}
	}

	.grid-services-info {
		padding: 30px 25px;
		background-color: #fff;
		@include transition(all .3s);
		text-align: left;
		border-right: 1px solid #ebebeb;
	    border-bottom: 1px solid #ebebeb;
	    border-left: 1px solid #ebebeb;
		
		.cms-grid-title {
			font-size: 16px;
		    font-weight: 700;
			text-transform: uppercase;
			color: $primary_color;
			line-height: 24px;
		}
		.cms-grid-subtitle {
			font-size: 12px;
			font-weight: 400;
		    text-transform: uppercase;
		    color: #999;
		}
	}
	.loadMore a{
	    padding: 9px 26px 11px;
	}
}
@media (max-width:767px) {
	.cms-grid-wraper-smoving .cms-grid-item{
		margin-bottom: 35px;
	    text-align: left;
     	 
	    vertical-align: top;
	    .grid-item-inner{
	    	max-width: 370px;
	    	margin: 0 auto;
	    }
	}
}

/*------------------------------
  3.9 - Cms grid cleaning quality
------------------------------*/  
.cleaning-quality{
	margin-top: 58px;
	.cms-grid-item{
		margin-bottom: 30px;
		&:hover .grid-services-info{
			background-color: $secondary_color;
			border-color: $secondary_color;
		} 
		img{
			width: 100%;
		}
	}

	.grid-services-info {
	    padding: 0 40px 30px 35px;
		background-color: #fff;
		@include transition(all .3s);
		text-align: left;
		border-right: 1px solid #ebebeb;
	    border-bottom: 1px solid #ebebeb;
	    border-left: 1px solid #ebebeb;
		
		.cms-grid-title h2{
			font-size: 16px;
		    font-weight: 700;
			margin-top: 0;
		    margin-bottom: 15px;
		    padding-top: 35px;
		    text-transform: uppercase; 
		    line-height: 24px;
		}
		.ui-text{
			margin-top: 20px;
    		line-height: 1.7;
    		font-weight: 300;
		}
		a.btn-default{
		    border-bottom: 3px solid $primary_color;
		    margin-top: 24px;
		    font-size: 11px;
		    line-height: 14.4px;
		    font-weight: 300;
		    padding: 8px 14px;
		}
		 
	}
}
@media (max-width:991px) {
	.cleaning-quality{
		.grid-services-info {
			padding-left: 20px;
    		padding-right: 20px;
		}
	}
}
@media (max-width:767px) {
	.cleaning-quality .cms-grid-item{
		margin-bottom: 35px;
	    text-align: left;
     	 
	    vertical-align: top;
	    .grid-item-inner{
	    	max-width: 370px;
	    	margin: 0 auto;
	    }
	}
}

/*------------------------------
  3.10 - Cms grid cleaning more
------------------------------*/  
.cleaning-more{
    margin-bottom: 50px;
    text-align: center;
	.cms-grid-item{
		margin-bottom: 50px;
		&:hover .grid-services-info{
			background-color: $secondary_color;
			border-color: $secondary_color;
			a.btn{
				color: #333;
				border-top: 0;
				border-left: 0;
				border-right: 0;
		    	border-bottom-color: #fff;
		    	background-color: $secondary_color;
			}
		} 
		img{
			width: 100%;
		}
	}
	.grid-services-info {
	    padding: 0 20px 40px;
		background-color: #fff;
		@include transition(all .3s);
		text-align: left;
		border-right: 1px solid #ebebeb;
	    border-bottom: 1px solid #ebebeb;
	    border-left: 1px solid #ebebeb;
		text-align: center;
		.cms-grid-title h2{
			font-size: 15px;
		    font-weight: 700;
			margin-top: 0;
		    margin-bottom: 15px;
		    padding-top: 43px;
		    text-transform: uppercase; 
		}
		.ui-text{
			margin-top: 20px;
    		line-height: 1.7;
		}
		a.btn{
		    border-left: 0;
		    border-right: 0;
		    border-top: 0;
		    margin-top: 25px;
		    font-size: 11px;
		    line-height: 14.4px;
		    color: $primary_color;
		    &:hover{
		    	color: #333;
		    	border-bottom-color: #fff;
		    	background-color: $secondary_color;
		    }
		}
		 
	}
	.cms_pagination a {
	    padding: 12px 25px 10px;
	}
}
@media (max-width:767px) {
	.cleaning-more 
	{
		margin-right: 0;
		.cms-grid-item{
			margin-bottom: 35px;
		    text-align: left;
	     	 
		    vertical-align: top;
		    .grid-item-inner{
		    	max-width: 370px;
		    	margin: 0 auto;
		    }
		}
	}
}

/*------------------------------
  3.11 - Cms grid moving service
------------------------------*/
.moving-service{
    margin-bottom: 50px;
	.cms-grid-item{
		margin-bottom: 70px;
		&:hover .grid-services-info{
			background-color: $secondary_color;
			border-color: $secondary_color;
		} 
		img{
			width: 100%;
		}
	}
	.grid-services-info {
	    padding: 0 25px 30px 20px;
		background-color: #fff;
		@include transition(all .3s);
		text-align: left;
		border-right: 1px solid #ebebeb;
	    border-bottom: 1px solid #ebebeb;
	    border-left: 1px solid #ebebeb;
		.cms-grid-title h2{
			font-size: 16px;
		    font-weight: 700;
			margin-top: 0;
		    margin-bottom: 15px;
		    padding-top: 35px;
		    line-height: 24px;
		    text-transform: uppercase; 
		}
		.ui-text{
			margin-top: 20px;
    		line-height: 1.7;
    		font-weight: 300;
		}
		a.btn-default{
		    border-bottom: 3px solid $primary_color;
		    margin-top: 24px;
		    font-size: 11px;
		    font-weight: 300;
		}
		 
	}
	.cms_pagination a{
	    padding: 12px 25px 10px;
	}
}
@media (max-width:767px) {
	.moving-service{
		margin-right: 0;
		.cms-grid-item{
			margin-bottom: 35px;
		    text-align: left;
	     	 
		    vertical-align: top;
		    .grid-item-inner{
		    	max-width: 370px;
		    	margin: 0 auto;
		    }
		}
	} 
}

/*------------------------------
  3.12 - Cms testimonial carousel
------------------------------*/
.heading-testimonial.border-color{
	margin-bottom: 55px !important;
}
 
.cms-overlay-color{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.home-testimonials-carousel{
	margin-top: -50px;
	.cms-carousel-content{
		text-align: center;
		blockquote{
			margin-top: 30px;
			margin-bottom: 22px;
			padding: 9px 110px;
			border-left: 0;
			color: #fff;
		    font-size: 16px;
		    font-style: italic;
		    text-align: center;
			p{
				margin-bottom: 0;
				padding-bottom: 0;
				line-height: 26px;
			}
			strong{
				font-weight: 700;
			}
		}
	}
	.owl-stage{
		 
	}
	.cms-grid-media{
	    width: 120px;
	    height: 120px;
	    border: 10px solid #fff;
	    img{
	    	height: 100%;
	    }
	}
	.slider-reviews-autor{
		font-family: 'Roboto Condensed';
		font-size: 14px;
		color: #fff;
	}
	.owl-item{
		padding-bottom: 150px;
	}
	.owl-controls{
		top: auto;
		bottom: 65px;
		width: 100%;
		text-align: center;
		.owl-nav div{
			color: #333;
			background-color: #fff;
			&:before,&:after{
				background-color: #fff;
			}
			&:hover{
				background-color: $secondary_color;
				color: #000;
				&:before,&:after{
					background-color: $secondary_color;
					color: #000;
				}
			}
		}
	}
}
@media screen and (max-width: 767px){
	.home-testimonials-carousel .cms-carousel-content blockquote {
	    padding-left: 20px;
	    padding-right: 20px;
	}
}

/*------------------------------
  3.13 - Cms testimonial layout 2 carousel
------------------------------*/
.layout2-testimonials{
	.slider-reviews-quote {
		margin-left: 10px;
		padding-left: 30px;
		overflow: hidden;
		border-left: 4px solid #eee;
		.icon {
			margin-top: 5px;
			margin-bottom: 5px;
			margin-left: 7px;
			font-size: 20px;
			color: $secondary_color;
		}
		blockquote {
		    padding: 9px 18px 9px 5px;
    		margin: 10px 0 18px;
			font-size: 13px;
			font-weight: 300;
			text-align: justify;
			color: #333;
			border-left: 0;
            font-style: italic;
		}
	}
	.slider-reviews-autor {
		margin-top: 30px;
		display: block;
		font: 700 16px 'Roboto Condensed';
		color: #333;
	}
	.slider-reviews-address {
		font-family: 'Roboto Condensed';
		font-size: 14px;
		color: #999;
	}
	.round-figure {
		margin-top: 0;
		margin-right: 17px;
		float: left;
		overflow: hidden;
		border-radius: 50%;
		background-color: initial;
		img{
			width: 60px !important;
			height: 60px !important;
		}
	}
	.owl-controls {
		top: -50px;
	}
}

/*------------------------------
  3.14 - Cms grid home posts
------------------------------*/
.cms-grid-wraper-home-posts{
	.cms-grid-home-posts{
		margin-bottom: 30px;
		.cms-grid-item{
			margin-bottom: 50px;
			vertical-align: top;
			&:hover .articles-list-inner {
				border-color: $primary_color;
			}
		}
		.articles-list-foto {
			position: relative;
			float: left;
			width: 270px;
			.articles-list-date {
				position: absolute;
				top: 0;
				right: 0;
				padding-top: 10px;
				width: 60px;
				height: 60px;
				font-size: 11px;
				font-weight: 400;
				line-height: 1;
				text-align: center;
				color: #333;
				background-color: $secondary_color;
				text-transform: uppercase;
				strong {
					display: block;
					font: 700 22px 'Roboto Condensed';
				}
			}
		}
		.articles-list-inner {
			margin-left: 270px;
			padding: 10px 20px 30px 30px;
			background-color: #f8f8f8;
			border-top: 3px solid $secondary_color;
			@include transition( all .3s);
			h3{
			    margin-top: 18px;
    			margin-bottom: 9px;
    			line-height: 1.1;
			}
			.border-color {
				margin-top: 8px;
				margin-bottom: 30px;
				margin-left: 0;
				width: 40px;
				border-width: 3px;
				&:after {
					margin-left: 0;
					width: 20px;
				}
			}
			.articles-list-title a {
				font-size: 14px;
				font-weight: 500;
				text-transform: uppercase;
				color: #333;
				&:hover {
					font-weight: 700;
					text-decoration: none;
				}
			}
			.articles-list-replies .icon {
				font-size: 16px;
				font-weight: 400;
				color: $primary_color;
			}
			.articles-list-replies,
			.articles-list-autor {
				font-size: 12px;
				color: #999;
			}
			.articles-list-replies:hover,
			.articles-list-autor:hover {
				text-decoration: none;
				color: #000;
			}
			.articles-list-autor {
				margin-right: 15px;
				text-transform: uppercase;
			}
			p{
				font-weight: 300;
			}
		}
	}
	.loadMore a{
		padding: 12px 20px;
		font-weight: 400;
	}
}
.cms-grid-wraper-home-posts .loadMore a{
	margin-bottom: 50px;
	font-size: 12px;
}
.home .cms-grid-wraper-home-posts .loadMore a{
	margin-bottom: 0;
}
@media screen and (max-width: 991px) {
 	.cms-grid-wraper-home-posts .cms-grid-home-posts{
     	.articles-list-foto{
     		width: 100%;
     		margin-bottom: 10px;
     	}
     	.articles-list-inner {
     		margin-left: 0;
     	}
 	}
	#footer-navigation{
		text-align: center;
	}
}
@media screen and (max-width: 767px) {
 	.cms-grid-wraper-home-posts .cms-grid-home-posts{
 		margin-left: auto;
 		margin-right: auto;
 		max-width: 370px;
     	.cms-grid-item img{
     		width: 100%;
     	}
     }
}

/*------------------------------
  3.15 - Cms carousel clients
------------------------------*/
.cms-carousel-home-clients{
	margin-bottom: 5px;
	.border-color{
		border-bottom: 1px solid #ebebeb;
	    margin-bottom: 50px;
	    &:after{
	    	width: 670px;
	    }
	}
	.list-clients{
		 .owl-item{
		 	 float: none;
		 	 display: inline-block;
		 	 vertical-align: middle;
		 }
		 .list-clients-item{
		 	img{
		 		max-width: 100%;
		 		width: auto;
		 		margin: 0 auto;
		 	}
		 }

	}
}
@media screen and (max-width: 767px){
	.cms-carousel-home-clients{
		.border-color{
			&:after{
				width: 50%;
			}
		}
	}
}

/*------------------------------
  3.16 - section block contacts
------------------------------*/
.block-contacts-item {
    margin-right: 20px; 
    float: left;
    .icon {
		position: absolute;
		font-size: 15px;
		margin-left: 0;
	}
}
.block-contacts-title {
	margin-top: 5px;
	margin-bottom: 5px;
	font: 700 17px 'Roboto Condensed';
	.icon {
		top: 7px;
		left: -7px;
	}
}

 
.block-contacts-text {
	font-weight: 400; 
}

.block-contacts-phone {
	margin-bottom: 5px;
	font: 700 20px 'Roboto Condensed';
	.icon {
		top: 6px;
		right: -7px;
		position: absolute;
	    font-size: 14px;
	}
}
  
.cms-social-wraper{
	.social-links {
		text-align: center;
	    margin-top: 10px;
    	margin-bottom: 14px;
		.social-links-item {
			padding-right: 5px;
			padding-left: 5px;
			margin: 0 ;
		}
		.social-links-item .icon {
			font-size: 15px;
			font-weight: 400;
			color: rgba(51,51,51,.5);
			@include transition (all .3s);
			&:hover {
				color: #333;
			}
		}
	}
}
@media (max-width:767px) {
     .block-contacts-item{
     	float: none;
     	display: inline-block;
     	text-align: center;
     	width: 100%;
     	margin-left: 0;
     }
     .block-contacts-item .icon{
     	position: relative;
     }
     .block-contacts-phone .icon{
     	position: relative;
     }
     .block-contacts-phone.text-right,.block-contacts-text.text-right{
     	text-align: center;
     }
}


/*------------------------------
  3.17 - Twitter home widget
------------------------------*/
.wpb_content_element.twitter-carousel{
	margin-top: -50px;
}
.twitter-home-widget{
	.round-figure_mod-b {
		width: 100px;
		height: 100px;
		border: 8px solid #fff;
	}
	.round-figure {
    	margin: 0 auto;
	    overflow: hidden;
	    text-align: center;
	    background-color: #f8f8f8;
	    border-radius: 50%;
	    .icon {
		    position: relative;
		    top: 55%;
		    margin-top: -12px;
		    display: block;
		    font-size: 24px;
		    font-weight: 400;
		    color: $primary_color;
		    width: 100%;
		    margin-left: 0;
		}
	}
 	.tweet-text {
	    margin-top: 20px;
	    border-left: 0;
	    margin-bottom: 5px;
	    padding: 9px 110px;
	    color: #fff;
	    font-size: 16px;
	    font-style: italic;
	    text-align: center;
	    a{
	    	color: #fff;
	    	text-decoration: none;
	    }
	}
	.tweet-time {
	    font-family: 'Roboto Condensed';
	    font-size: 14px;
	    color: #fff;
        text-align: center;
	    width: 100%;
	    display: block;
	    text-transform: uppercase;
	}
}
@media (max-width:767px) {
    .twitter-home-widget{
    	.tweet-text{
    		padding-left: 20px;
    		padding-right: 20px;
    	}
    }
}

/*------------------------------
  3.18 - Cms fancybox scheme
------------------------------*/
.cms-fancyboxes-wraper-scheme {
	.helper {
		padding-top: 0;
		display: inline-block;
		width: 150px;
		height: 130px;
		font-size: 60px;
		color: $primary_color;
		background-color: #fff;
	}
	.arrow {
		position: absolute;
		top: 50px;
		right: -11px;
		padding-top: 4px;
		padding-left: 3px;
		width: 28px;
		height: 31px;
		text-align: center;
		border-top: 1px solid $secondary_color;
		border-bottom: 1px solid $secondary_color;
		border-left: 1px solid $secondary_color;
		@include transition(all .3s);
		&:before,&:after {
			position: absolute;
			content: '';
			@include transition(all .3s);
		}
		&:before {
			right: -4px;
			bottom: 0;
			width: 7px;
			height: 15px;
			border-right: 1px solid $secondary_color;
			@include transform(skewX(-20deg));
			 
		}
		&:after {
			top: 0;
			right: -4px;
			width: 7px;
			height: 15px;
			border-right: 1px solid $secondary_color;
			@include transform(skewX(20deg));
			 
		}
	}
	.arrow-inner {
		font-size: 16px;
	}
	.list-scheme-item {
		text-align: center;
		@media screen and (max-width:767px) {
	     	margin: 0 auto 40px;
		    position: relative;
		    text-align: center;
		    width: 210px;
		    position: relative;
		}
	}
 
	.list-scheme-item:hover .helper {
		box-shadow: 0 0 9px 0 rgba(0,0,0,.08);
	}
	.list-scheme-link {
		color: #333;
	}
	.list-scheme-link:hover {
		text-decoration: none;
		color: #333;
	}
	.list-scheme-title {
		margin-top: 35px;
		font-size: 15px;
		font-weight: 500;
	    padding: 0 50px;
        line-height: 1.4;
	}
	.list-scheme-number {
		position: relative;
		z-index: 1;
		margin: -20px auto 0;
		padding-top: 5px;
		display: block;
		width: 40px;
		height: 40px;
		font-size: 18px;
		background-color: $secondary_color;
		border-radius: 50%;
	}
}
@media screen and (max-width:1023px) {
     .cms-fancyboxes-wraper-scheme .list-scheme-title{
     	padding: 0;
     }
}


/*------------------------------
  3.19 - Call to action
------------------------------*/
.vc_general.vc_cta3{
	border: 0 !important;
    padding: 0 !important;
	.vc_cta3_content-container{
		overflow: hidden;
	}
	.vc_cta3-content{
		padding-right: 30px !important;
	    padding-left: 25px !important;
	    max-width: 800px;
	    border-left: 5px solid $secondary_color;
	    float: left;
	    h2{
	    	margin-top: 10px !important;
		    margin-bottom: 10px !important;
		    font-size: 24px;
	        font-weight: 500;
	        color: #333;
	        line-height: 1.1;
	    }
	    h4{
	    	line-height: 22px !important;
	    	margin-bottom: 9px !important;
	    	font-weight: inherit;
	    	font-size: 13px; 
    		font-weight: 300;
	    }
	    p{
	    	font-weight: 300;
	    }

	}
	.vc_cta3-actions{
		float: right;
		margin-top: 10px;
		.btn-second {
			margin-top: 7px;
			padding: 17px 24px;
		    font-size: 15px;
		    font-weight: 400;
		    color: #fff;
		    @include transition( all .3s);
		}
		a{
			text-decoration: none;
			color: #fff;
		}
	}
	
}
.vc_general.vc_cta3.cta-services{
	.vc_cta3-content{
		h2{
			margin-top: 0 !important;
			font-size: 24px;
			color: $primary_color;
		}
	}
}

/*------------------------------
  3.2 - Cms fancyboxes list about
------------------------------*/
.list-about{
    a{
        text-decoration: none;
        color: #333;
    }
    &:hover h2{
        color: #00a3d8;
    }
    p{
    	font-weight: 300;
    }

}
.list-about .ui-title-inner {
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 35px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
 
 .cms-fancyboxes-wraper-list-about{
 	.cms-fancybox-item{
	    .border-color {
		    margin-bottom: 35px;
		    margin-top: 0;
		}
		img{ 
			width: 100%;
		}
        .fancy-box-content{
            margin-bottom: 40px;
            font-weight: 300;
        }
 	}

 }


 /*------------------------------
  3.2.1 - Vc_tta accordion
------------------------------*/
.vc_tta-color-white.vc_tta-style-classic .vc_tta-panel:not(.vc_active) .vc_tta-panel-heading:hover, .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading:focus{
	background-color: #fff !important;
}
 
 .vc_tta-accordion{
 	.vc_active{
 		border-color: #dddddd;
 	}
 	.vc_tta-panel.vc_active{
 		.vc_tta-panel-heading{
 			background-color: $primary_color !important;
 			.vc_tta-panel-title{
 				a{
 					color: #ffffff !important;
 					position: relative;
 					.vc_tta-icon{
 						color: #fff;	
 					}
 					.vc_tta-controls-icon{
	 					color: #ffffff;
	 					&:before,&:after{
							border-color: #fff !important;
						}
	 				}
 				}
 				
 			}
 		}
 		 
	} 
 	.vc_tta-panel{
	    margin-bottom: 0;
    	border-radius: 4px;
    	.vc_tta-panel-heading{
		    color: #333333;
		    border-color: #dddddd;
	        border-bottom: 0;
	        .vc_tta-panel-title{
			    font: 700 16px 'Roboto Condensed';
		        font: 700 16px 'Roboto Condensed';
			    color: #333;
			    text-transform: uppercase;
			    a{
			    	margin-top: 0;
				    margin-bottom: 0;
				    padding: 22px 20px 20px;
				    border-right: 1px solid #ebebeb;
			    	color: #333 !important;
			    	.vc_tta-icon{
			    		margin-right: 20px;
    					font-size: 26px;
    					color: $secondary_color;
    					position: absolute;
    					top: 28px;
			    	}
			    	.vc_tta-title-text{
			    		margin-left: 40px !important;
			    	}
			    	.vc_tta-controls-icon{
			    		padding-top: 16px;
						float: right;
						width: 60px;
						height: 100%;
						font-size: 23px;
						text-align: center;
						color: #333;
						right: 0;
						border-left: 1px solid #ebebeb;
						&:before,&:after{
							border-color: #333 !important;
						}
						&:before{
						    left: 25px !important;
    						right: 24px !important;
						}
						&:after{
							left: 30px !important;
							bottom: 42% !important;
					    	top: 42% !important;
						}
						 
			    	}
			    }
	        }
    	}
 	}
 	
 }

 /*------------------------------
  3.2.2 - Cms carousel about service 
------------------------------*/
.about-service-carousel{
	.cms-grid-item{
		padding-left: 0;
		padding-right: 0;
		.slide-bg {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			text-align: center;
			background-color: rgba(2,0,65,0.6);
			opacity: 0;
			@include transition(all .3s);
			&:hover {
				opacity: 1;
			}
			.icon {
				position: relative;
				top: 50%;
				margin-top: -10px;
				display: inline-block;
				font-size: 20px;
				color: #fff;
			}
		}
		img{
			transform-style: inherit !important;
			width: 100%;
		}
	}
}
@media (max-width:767px) {
     .cms-fancyboxes-wraper-list-about {
	    margin: auto;
	    max-width: 400px;
	}
}

.cms-grid-wraper-about-moving{
	.border-color{
		margin-top: 0;
	}
	.cms_pagination a{
    	padding: 12px 30px 10px;
	}
	.cms-grid-item{
		margin-bottom: 45px;
		@media (max-width:767px) {
			max-width: 370px;
			margin-left: auto;
			margin-right: auto;
			float: none;
		}
	}

}

 /*------------------------------
  3.2.3 - Cms grid pricing table
------------------------------*/
.list-price {
    margin-top: 51px;
    margin-right: -13px;
    margin-bottom: 90px;
    margin-left: -13px;
    text-align: center;
    padding-left: 0;
    list-style: none;
    .list-price-item {
		margin-right: 13px;
		margin-bottom: 30px;
		margin-left: 13px;
		padding: 15px 15px 45px;
		display: inline-block;
		width: 270px;
		text-align: center;
		vertical-align: top;
		background-color: #fff;
		border: 1px solid #ebebeb;
		@include transition (all .3s);
     	&.best-value{
    		background-color: $secondary_color;
    	}
      	&:hover {
	        background-color: #f8f8f8;
	        .border-color {
		          border-color: $secondary_color;
		          &:after {
		            border-color: #fff;
		          }
	        }
	        .btn {
	          	border-bottom-color: $secondary_color;
	        }
	        .list-price-total {
		          color: #fff;
		          background-color: $secondary_color;
		          border-color: #fff;
		          strong {
		            color: #fff;
		          }
	        }
      	}
      .list-price-title {
        margin-top: 25px;
        margin-bottom: 30px;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
      }
      ul.description {
      	list-style: none;
      	padding-left: 0;
      	li {
        	line-height: 36px;
    	}
      }
      .border-color {
        margin-top: 40px;
        margin-bottom: 35px;
        width: 100px;
        border-bottom-width: 3px;
        @include transition(all .3s);
        &:after {
          margin-left: auto;
          width: 30px;
          @include transition(all .3s);
        }
      }
      .list-price-total {
        margin: 0 auto 45px;
        padding-top: 30px;
        display: block;
        width: 132px;
        height: 132px;
        line-height: 1;
        text-align: center;
        background-color: #fff;
        border: 11px solid #eee;
        border-radius: 50%;
        font-size: 10px;
        font-weight: 300;
    	text-transform: uppercase;
        @include transition(all .3s);
        strong {
          display: block;
          font-size: 34px;
          font-weight: 700;
          padding-bottom: 3px;
          color: $primary_color;
          @include transition(all .3s);
        }
      }
      .btn {
        padding: 13px 35px;
        font-size: 13px;
        font-weight: 500;
      }
    }
}
@media (min-width:992px) and (max-width:1199px) {
	.list-price{
 	 	margin-left: auto;
    	margin-right: auto;
    	max-width: 920px;
    	.list-price-item {
		    width: 210px;
		    margin-left: 10px;
		    margin-right: 10px;
		  }
	}
}
@media (min-width:768px) and (max-width:991px) {
	.list-price{
 	 	margin-left: auto;
    	margin-right: auto;
    	max-width: 698px;
    	.list-price-item {
		    width: 160px;
		    margin-right: 7px;
		    margin-left: 7px;
		  }
	}
}
@media screen and (max-width:767px) {
   .list-price .list-price-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

/*------------------------------
  3.2.4 - Cms fancybox contact information
------------------------------*/
.list-contacts{
	margin-bottom: 75px;
	.icon_mod-b {
    	background-color: $secondary_color;
	} 
	.icon {
	    position: relative;
	    margin-right: 20px;
	    display: inline-block;
	    width: 18px;
	    height: 22px;
	    vertical-align: middle;
	    background-color: $primary_color;
	    margin-left: 0;
	    @include transition(all .3s);
	    &:before, &:after {
		    position: absolute;
		    right: -4px;
		    width: 6px;
		    height: 11px;
		    content: '';
		    background-color: $primary_color;
		    -webkit-transition: all .3s;
		    -o-transition: all .3s;
		    transition: all .3s;
		}
		&:before {
		    top: 0;
		    @include transform(skewX(25deg));
		}
		&:after {
		    bottom: 0;
		    @include transform(skewX(-25deg));
		}
	}
	.list-contacts__title {
	    font-family: 'Roboto Condensed';
	    font-size: 16px;
	    font-weight: 700;
	    text-transform: uppercase;
	}
	.border-color {
	    margin-right: auto;
	    margin-left: auto;
	    border-bottom: 1px solid $secondary_color;
        margin-top: 25px;
    	margin-bottom: 35px;
    	&:after {
		    top: 1px;
		    width: 70px;
		    border-width: 1px;
		}
	}
	.list-contacts__text {
	    margin-top: 25px;
	    display: block;
	    font-size: 14px;
     	strong {
		    display: block;
		    font-weight: 400;
		    margin-top: 25px;
		    line-height: 26px;
		}
		p{
			line-height: 22px;
			margin-bottom: 5px;
		}
	}
}
@media screen and (max-width: 767px){
	.list-contacts{
		margin-bottom: 50px;
	}
}
/* vc column */
.wpb_column{
	&.align-right{
		text-align: right;
	}
	&.align-left{
		text-align: left;
	}
	&.align-center{
		text-align: center;
	}
} 

/* accordion*/
.vc_tta.vc_general .vc_tta-panel-body{
    padding: 0 !important;
    .wpb_content_element{
    	padding: 30px 30px 20px !important; 
    	p{
		    font-size: 13px;
		    font-weight: 300;
		    line-height: 22px;
		    color: #333;
		    margin-bottom: 0;
	    }
    }
}
 
.row-calltoaction .container{
	padding: 60px 56px 50px;
}
@media screen and (max-width:1199px) {
	.row-calltoaction .container{
		padding-left: 65px;
		padding-right: 71px;
	}
}
@media screen and (max-width:480px) {
	.row-calltoaction .container{
		padding-left: 15px;
		padding-right: 15px;
	}
}