/*--------------------------------------------------------------
4.0 - Footer
--------------------------------------------------------------*/
.footer {
    color: #fff;
    border-top: 3px solid $primary_color;
    background-color: #002d3b;
    .brand-decor {
        margin-top: 10px;
    }
    .btn-footer {
        padding-top: 11px;
        padding-bottom: 7px;
        width: 100%;
        font-size: 15px;
        color: #fff;
        background-color: transparent;
        border-color: $primary_color;
    }
    .btn-form{
        margin-top: 26px;
        margin-bottom: 45px;
        padding: 12px 30px !important;
        color: #fff;
        background-color: transparent;
        border-top-color: #4d6c76;
        border-right-color: #4d6c76;
        border-left-color: #4d6c76;
    }
    a{
        color: #fff;
        text-decoration: none;
    }
    a.footer-mail{
        display: block;
        color: #ccc;
    }
    .footer-1{
        margin-top: 30px;
    }
    .widget h3.wg-title{
        font-size: 16px;
        font-weight: 700;
        margin-top: 80px;
        text-transform: uppercase;
        border-bottom: 1px solid $secondary_color;
        margin-bottom: 36px;
        padding-bottom: 0;
        position: relative;
        font-family: inherit;
        strong{
            font-weight: 900;
        }
        span{
            display: inline-block;
            padding-bottom: 17px;
        }
        &:after{
            border-bottom-color: $primary_color;
            border-bottom-style: solid;
            border-width: 3px;
            bottom: -3px;
            content: "";
            left: 0;
            position: absolute;
            width: 100px;
        }
    }
    p,.textwidget{
        color: #ccc;
        line-height: 22px;
        font-weight: 300;
    }
    .footer-2 ul{
        padding: 0;
        display: block;
        overflow: hidden;
            li{
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 15px;
                display: inline-block;
                width: 49%;
                vertical-align: top;
                a{
                    padding-left: 25px;
                    font-weight: 500;
                    color: #fff;
                    position: relative;
                    display: block;
                    &:before,
                    &:after{
                        content: "";
                        display: inline-block;
                        position: absolute;
                        top: 4px;
                    }
                    &:before{
                        width: 5px;
                        height: 10px;
                        background-color: $primary_color;
                        left: 0;
                    }
                    &:after{
                        border-color: transparent transparent transparent $primary_color;
                        border-width: 5px;
                        border-style: solid;
                        position: absolute;
                        left: 5px; 
                        top: 4px;
                    }
                    &:hover{
                        &:before{
                            background-color: $secondary_color;
                        } 
                        &:after{
                            border-color: transparent transparent transparent $secondary_color;
                        }   
                    }
                }
            &:hover a{
                &:before{
                    background-color: $secondary_color;
                }
                &:after{
                    border-color: transparent transparent transparent $secondary_color;
                }
            }
        }
    }
    .newsletter form{
        margin-right: 20px;
        position: relative;
        .newsletter-submit{
            width: 0;
            height: 0;
            visibility: hidden;
        }
        .newsletter-email{
            padding: 10px 20px;
            font-size: 12px;
            font-weight: 400;
            color: #999;
            background-color: #003748;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            min-height: 50px;
            margin-bottom: 10px;
            height: 32px;
            background-image: none;
            border: none 0;
            text-transform: inherit;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

        }
        &:after{
            content: "\f0e0";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            transform: translate(0, 0);    
            position: absolute;
            z-index: 1;
            top: 17px;
            right: 20px;
            font-size: 16px;
            color: $primary_color;
        }
    }
    .widget_newsletterwidget{
        form{
            position: relative;
            &:after{
                content: "\f0e0";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                transform: translate(0, 0);    
                position: absolute;
                z-index: 1;
                top: 17px;
                right: 20px;
                font-size: 16px;
                color: $primary_color;
            }
        }
        .tnp-field label{
            display: none;
        }
        .tnp-field-button{
            position: absolute;
            top: 0;
            right: 50px;

        }
        .tnp-submit{
            width: 50px;
            height: 50px;
            border: 0;
            background: transparent;
            text-indent: -1000px;
            z-index: 9;
            &:hover,&:focus,&:active{
                box-shadow: none;
                background-color: transparent;
            }
        }
        .tnp-email{
            padding: 10px 20px;
            font-size: 12px;
            font-weight: 400;
            color: #999;
            background-color: #003748;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            min-height: 50px;
            margin-bottom: 10px;
            height: 32px;
            background-image: none;
            border: none 0;
            text-transform: inherit;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
        .tnp-submit{

        }
    }
    #cshero-footer-bottom .container{
        border-top: 1px solid #1a4a59;
        padding-top: 38px;
        padding-bottom: 40px;
        .copyright{
            text-align: center;
            color: #ccc;
            strong {
                padding-left: 5px;
                font-weight: 500;
                color: #fff;
            }
            .icon {
                padding-right: 10px;
                font-size: 14px;
                color: $secondary_color;
            }
            a {
                color: #fff;
            }
        }
    }
}
.footer-navigation{
    margin-top: 12px;
    width: 100%;
    ul{
        padding-left: 0;
        li{
            margin-right: 20px;
            display: inline-block;
            font-weight: 700;
            text-transform: uppercase;
            a:hover{
                color: $primary_color;
            }
        }
    }
    
    .sub-menu{
        display: none;
    }

}
@media (min-width:992px) and (max-width:1199px) {
    .footer-navigation li{
        margin-right: 10px;
    }
}
#back_to_top a{
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    i{
        position: relative;
        top: -12px;
        margin: auto;
        display: block;
        font-size: 45px;
        color: $secondary_color; 
    }
    strong{
        font-family: 'Roboto Condensed';
        font-size: 12px;
        font-weight: 700;    
    }
    &:hover,&:focus{
        text-decoration: none;
    }
}
