/*--------------------------------------------------------------
5.0 - Forms
--------------------------------------------------------------*/

select{
    width: 100%;
    min-height: 50px;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {}
select,
input[type="tel"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    background-color: #fff;
    color: #555555;
    font-size: 12px;
    font-weight: normal;
    padding: 6px 12px;
    height: 32px;
    min-height: 50px;
    border: 2px solid #eeeeee;
    width: 100%;
    font-weight: 300;
    @include border-radius(2px);
}

textarea {
    width: 100%;
}
form{
  input{
    &::-ms-clear{
      display:none;
      width: 0;
      height: 0;
    }
  }
}
.wpcf7-submit{
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: none;
    white-space: nowrap;
    line-height: 1.42857143;
    color: #333;
    text-transform: uppercase;
    @include transition(all 0.3s);
    font-weight: 500;
    font-size: 15px;
    background-color: $secondary_color;
    border-bottom: 3px solid #0087b3;
    padding: 14px 30px;
    &:hover {
        border-bottom-color: $primary_color !important;
    }
    &:active{
        color: #ffffff;
        background-color: #00b6f2;
        border-color: #009bce;
    }
    &:focus{
        color: #ffffff;
        background-color: #009bce;
        border-color: #00698c;
    }
}
 /* order form 2*/
.form-request{
    
        padding-top: 40px;
        padding-bottom: 30px;
        position: relative;
        .col-md-4{
            padding-left: 0;
            padding-right: 10px;
        }
        .col-md-12{
          padding-left: 0;
          padding-right: 10px;
        }
        input.wpcf7-text{
            margin-bottom: 10px;
            @include border-radius(0);
            border: 1px;
            font-weight: 300;
            font-size: 12px;
        }
        textarea{
            height: 100px;
            padding-left: 15px;
            padding-top: 17px;
            padding-bottom: 9px;
            margin-bottom: 10px;
            border: 0;
            font-weight: 300;
            font-size: 12px;
        }
        &.about{
            padding-top: 24px;
            textarea{
                height: 80px;
            }    
        } 
        .wpcf7-response-output{
            position: absolute;
            bottom: 30px;
            left: 200px;
            border: none;
            color: #7e8082;
        }
        .wpcf7-not-valid-tip{
            position: relative;
            top: -10px;
        }
        .description .wpcf7-not-valid-tip{
             
        }
        .icon.fa-calendar{
            position: absolute;
            right: 25px;
            top: 18px;
            font-size: 15px;
            color: #999;
        }
        
}
div.wpcf7-response-output{
    margin: 0 0 20px -15px;
            color: #f00; 
}
#commentform textarea.form-control{
    height: 190px;
    font-size: 12px;
    font-weight: 300;
}
@media (min-width:992px) and (max-width:1200px) {
    h2.form-order-title{
        width: 290px;
        height: 290px;
    }
}
@media screen and (max-width:991px) {
    h2.form-order-title{
        float: none;
        margin: 0 auto;
        margin-top: 50px;
    }
    .form-request{
       
        .col-sm-12{
          padding-right: 0;
        }
        .wpcf7-response-output{
            position: relative;
            bottom: 10px;
            left: -5px;
            margin: 20px auto 0 -10px;
            padding: 0; 
        }
       
    }
}
@media screen and (max-width:767px) {
    h2.form-order-title{
        float: none;
        margin-left: auto;
        margin-right: auto;
        height: 270px;
        width: 270px;
        padding-top: 40px;
        margin-top: 10px;
    }
    .form-request{
         
        .col-md-4{
            padding-left: 15px;
        }
        .col-md-12{
            padding-left: 15px;
            padding-right: 15px;
        }
        .col-sm-12{
            padding-right: 15px;
        }
        .wpcf7-response-output{
            margin: 20px auto 0 0;
        }
        
    }
}
 
.form-contactus{
    .wpcf7-text, 
    .wpcf7-textarea{
        margin-bottom: 20px;
        border: 1px solid #ebebeb;
        box-shadow: none;
        font-size: 12px;
        font-weight: 300;
    }
    textarea {
        padding-top: 17px;
        padding-bottom: 9px;
        padding-left: 15px;
        height: 190px;
    }
    .contact-send{
        position: relative;
        .btn {
            margin-top: 0;
            padding-right: 45px;
            padding-left: 45px;
            padding-top: 12px;
            padding-bottom: 12px;
            font-family: 'Roboto Condensed';
            font-size: 18px;
            color: #333;
            background-color: #fff;
            border: 1px solid #ebebeb;
            border-bottom: 3px solid $secondary_color;
        }
        .ajax-loader{
            position: absolute;
            right: 10px;
            top: 15px;
        }
        &:after{
            margin-left: 9px;
            font-size: 15px;
            color: $primary_color;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            transform: translate(0, 0);
            content: "\f101";
            position: absolute;
            top: 17px;
            right: 30px;
            font-size: 16px;
        }
    }
    @media screen and (max-width: 991px){
        .contact-send{
            /*margin-right: 10px;*/
        }
    }
}
 