/*--------------------------------------------------------------
6.0 - Header
--------------------------------------------------------------*/

#cshero-header{
  width: 100%;
  position: relative;
  @include transition(all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s);
  &.header-fixed{
    z-index: 9;
    background: #ffffff;
    position: fixed;
    top: 0;
    @include transition(all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s);
  }
  #cshero-header-logo a img {
    @include transition(all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s);
  }
}
 
.admin-bar{
  #cshero-header{
    &.header-fixed{
      top: 32px;
    }
  }
}

#cshero-header-logo{
    a{
        line-height: 103px;
        display: block;
        outline: 0;
    }
}
.header-fixed #cshero-header-logo a{
    line-height: 65px;
}
.header{
    .header-top {
    	font-weight: 400;
    	color: #999;
    	border-top: 5px solid $primary_color;
    	border-bottom: 1px solid #ebebeb;
        &:after {
        	display: table;
        	clear: both;
        	content: '';
        }
        .slogan {
            /*height: 57px;*/
            text-align: center;
            padding: 24px 15px 15px 24px;
        	text-transform: uppercase;
        	border-right: 1px solid #ebebeb;
        	border-left: 1px solid #ebebeb;
            text-align: left;
        }
        .header-contacts {
        	text-align: right;
            a {
        	    padding: 24px 20px 15px;
            	display: inline-block;
            	font-weight: 500;
            	color: #999;
            	border-left: 1px solid #ebebeb;
                &:last-child {
                	border-right: 1px solid #ebebeb;
                }
                .icon {
                	margin-right: 9px;
                	font-size: 15px;
                	color: $primary_color;
                }
            }
        }
        .header-social {
        	text-align: center;
            .cms-social {
            	margin-bottom: 0;
                padding-top: 24px;
            	display: block;
                margin-top: 0;
                padding-left: 0;
                li{
                    margin-right: 15px;
                }
                .icon {
                	color: #ccc;
                	-webkit-transition: all .3s;
                	     -o-transition: all .3s;
                	        transition: all .3s;
                    &:hover {
                    	color: $secondary_color;
                    }
                }
            }
        }
    }
}


 