/*--------------------------------------------------------------
7.0 - Main
--------------------------------------------------------------*/

body {
	font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4;
    cursor: default;
    color: #333;
}

body p {
	line-height: 22px;
	font-weight: 300;
}
.btn{
    border-radius: 0;
}

#wrapper {
	margin: auto;
	max-width: 1920px;
}

.ui-title-page {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 50px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	font-size: 34px;
	font-weight: 700;
	text-align: center;
	color: #fff;
	background-color: $primary_color;
}

.ui-title-inner {
	font-size: 16px;
	font-weight: 700;
}

.ui-title-inner strong {
	font-weight: 900;
}

.ui-btn {
	font-family: Roboto;
	font-size: 12px;
	font-weight: 400;
	color: #333;
	border-top: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	border-bottom: 3px solid $secondary_color;
	border-left: 1px solid #ebebeb;
}

.ui-text {
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    color: #333;
}

.ui-form .input-group {
	margin-bottom: 20px;
}

.ui-form .form-control {
	margin-bottom: 0;
	border: 1px solid #ebebeb;
	box-shadow: none;
}

.ui-form .btn {
	padding-top: 12px;
	padding-bottom: 12px;
	font-family: 'Roboto Condensed';
	font-size: 18px;
	color: #333;
	background-color: #fff;
	border: 1px solid #ebebeb;
	border-bottom: 3px solid $primary_color;
}

.ui-form .btn .icon {
	margin-left: 9px;
	font-size: 15px;
	color: $primary_color;
}

.br {
	display: block;
}
.contact-title-block{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #fff;
    line-height: 1.4;
}

/* ======= BASIC ELEMENTS ======= */

.border-color {
	margin-right: auto;
	margin-left: auto;
	border-bottom: 1px solid $secondary_color;
}

.border-color:after {
	position: relative;
	top: 3px;
	margin: auto;
	display: block;
	content: '';
	border-bottom: 3px solid $primary_color;
}

.border-color_default {
	width: 370px;
}

.border-color_default:after {
	margin-left: 0;
	width: 100px;
}

.border-color_center {
	width: 370px;
}

.border-color_center:after {
	width: 100px;
}

.border-color_title {
	border-width: 3px;
}

.border-color_small {
	width: 450px;
}

.border-color_small:after {
	width: 100px;
}

.border-color_widget {
	margin-bottom: 40px;
}

.border-title-page {
	position: relative;
	height: 50px;
	background-color: $primary_color;
}

.border-title-page .border-wave {
	position: absolute;
	bottom: -20px;
	z-index: 0;
}

 
  

.border-wave {
	position: relative;
	margin-top: -20px;
	width: 100%;
	height: 22px;
	background-repeat: repeat-x;
	background-position: 0 100%;
	z-index: 1;
}

.border-wave_white {
	background-image: url('../media/border/wave-white.svg');
}

.border-wave_grey {
	background-image: url('../media/border/wave-grey.svg');
}

.border-wave_primary {
	margin-top: 0;
	background-image: url('../media/border/wave-primary.svg');
}


.brand-decor {
	display: block;
	text-align: center;
}


.btn-second {
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	background-color: $primary_color;
	border-bottom: 3px solid $secondary_color;
	-webkit-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
}

.btn-second:hover {
	background-color: $secondary_color;
	border-bottom: 3px solid $primary_color;
}

 
.triagl {
	position: relative;
}

.triagl:after {
	position: absolute;
	z-index: 1;
	display: block;
	width: 100%;
	content: '';
	border-right: 50vw solid transparent;
	border-left: 50vw solid transparent;
}

.triagl-top:after {
	top: -100px;
	border-top: 50px solid transparent;
	border-bottom: 50px solid #fff;
}

.triagl-top_mod-b:after {
	top: -80px;
	border-top-width: 40px;
	border-bottom-width: 40px;
}

.triagl-btm:after {
	top: 0;
	border-top: 50px solid $primary_color;
	border-bottom: 50px solid transparent;
}

.triagl_mod-c:after {
	border-bottom-color: $secondary_color;
}
.triagl-btm-tran{
	&:before,&:after {
		position: absolute;
		z-index: 1;
		bottom: 0;
		content: '';
	}
	&:before {
		left: 0;
	    border-top: 24px solid transparent;
	    border-right: 25vw solid transparent;
	    border-bottom: 24px solid #fff;
	    border-left: 25vw solid #fff;
	}
	&:after {
	    right: 0;
	    border-top: 24px solid transparent;
	    border-right: 25vw solid #fff;
	    border-bottom: 24px solid #fff;
	    border-left: 25vw solid transparent;
	}
}
.triagl-top.triagl-gray:after {
    border-bottom-color: #f8f8f8;
}
.triagl-top.triagl-secondary:after{
	border-bottom-color: $secondary_color;
}
/* fix row no-container */
.no-container > div .entry-content  > .row{
  margin-left: 0;
  margin-right: 0;
}

/* =Front page template
-------------------------------------------------------------- */

.entry-page-image {
  margin-bottom: 14px;
}
.template-front-page .site-content article {
  border: 0;
  margin-bottom: 0;
}
.template-front-page .widget-area {
  clear: both;
  float: none;
  width: auto;
  padding-top: 24px;
  border-top: 1px solid #ededed;
}
.template-front-page .widget-area .widget li {
  margin: 8px 0 0;
  font-size: 13px;
  line-height: 1.714285714;
  list-style-type: square;
  list-style-position: inside;
}
.template-front-page .widget-area .widget li a {
  color: #757575;
}
.template-front-page .widget-area .widget li a:hover {
  color: #21759b;
}
.template-front-page .widget-area .widget_text img {
  float: left;
  margin: 8px 24px 8px 0;
}


/* =Widgets
-------------------------------------------------------------- */

.widget-area .widget ul ul {
  margin-left: 12px;
}
.widget_rss li {
  margin: 12px 0;
}
.widget_recent_entries .post-date,
.widget_rss .rss-date {
  color: #aaa;
  font-size: 11px;
  margin-left: 12px;
}
#wp-calendar {
  margin: 0;
  width: 100%;
  font-size: 13px;
  line-height: 1.846153846;
  color: #686868;
}
#wp-calendar th,
#wp-calendar td,
#wp-calendar caption {
  text-align: left;
}
#wp-calendar #next {
  padding-right: 24px;
  text-align: right;
}
.widget_search label {
  display: block;
  font-size: 13px;
  line-height: 1.846153846;
}
.widget_twitter li {
  list-style-type: none;
}
.widget_twitter .timesince {
  display: block;
  text-align: right;
}


/* =Plugins
----------------------------------------------- */

img#wpstats {
  display: block;
  margin: 0 auto 24px;
}
.wpb_single_image img{
	width: 100%;
}
/* =Page title
----------------------------------------------- */
.page-title{
	background-color: $primary_color;
	margin-bottom: 100px;
}
/* =Breadcrumb
----------------------------------------------- */
#breadcrumb-text{
 	padding: 8px 15px 10px 15px;
    margin-bottom: 0;
    list-style: none;
    background-color: $primary_color;
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto Condensed';
  	ul.breadcrumbs{
	    margin: 0;
	    padding: 0;
	    list-style: none;
	    font-size: 14px;
	    li{
	      display: inline-block;
	      &:first-child{
	        margin-left: 0;
	      }
	      a{
		    	color: #ffffff;
		    	text-decoration: underline;
	    	}
	    }
  	}
  	.breadcrumbs > li + li:before{
    	content: "/\00a0/\00a0";
		padding: 0 10px;
    }
}
#breadcrumb-text.empty-breadcrumb{
	background: none;
	padding: 0;
}
.ui-title-block {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 300;
    color: #999;
}
.home .btn.btn-default.btn {
    padding: 12px 26px 12px;
}
.btn.button-medium{
	margin-top: 45px;
	padding: 10px 26px;
}
.social-links-item {
	margin-right: 20px;
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	&:last-child {
		margin-right: 0;
	}
	.icon {
		cursor: pointer;
	}
	.social-links-link {
		color: #333;
		@include transition(all .3s);
	}
}

.round-figure {
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	background-color: #f8f8f8;
	border-radius: 50%;
}

#page-title-text h1{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 50px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	font-size: 34px;
	font-weight: 700;
	text-align: center;
	color: #fff;
}
.wpb_raw_html {
	.round-figure {
		width: 100px;
		height: 100px;
		border: 8px solid #fff;
	    background-color: $secondary_color;
        margin: -50px auto 0;
	    overflow: hidden;
	    text-align: center;
        border-radius: 50%;
		.icon{
	        margin-top: -14px;
		    font-size: 40px;
		    color: #fff;
	        position: relative;
    		top: 50%;
	        display: block;
	        font-weight: 400;
            margin-left: 22px;
		}
	}
}
.block-btns {
    margin-top: 45px;
    margin-bottom: 25px;
    padding-bottom: 30px;
    text-align: right;
    border-bottom: 1px solid #ebebeb;
    .btn {
		margin-bottom: 20px;
		margin-left: 15px;
		padding: 14px 20px 10px;
		@include transition(all 0.4 ease 0s);
		.icon-arrow {
			margin-left: 10px;
			font-size: 16px;
			margin-top: -2px;
		}
		.icon-play {
			margin-right: 5px;
			font-size: 14px;
			margin-top: -2px;
		}
		&:hover >i{
			color: $primary_color;
		}
	}
}
.row-portfolio.hide-video-download{
	margin-top: 55px;
}
#secondary-left aside{
	margin-right: 50px;
	@media (max-width:991px) {
        margin-right: 0;
		max-width: 100%;
		.owl-carousel .owl-item img{
			max-width: 100%;
		    width: auto;
		    margin: 0 auto;
		}
	}
 }
.portfolio-page .container{
	width: 100%;
}
.button-large{
	padding: 17px 24px;
}
.tp-caption,.tp-caption .btn{
	letter-spacing: 0 !important;
} 
.tp-caption a.btn{
	letter-spacing: 0 !important;
	padding: 16px 26px !important;
	line-height: 1 !important;
} 
.home .btn-link{
	color: #333;
	font-weight: 700;
}
.btn-link{
	color: #000;
	&:hover{
		color: #00a3d8;
	}
 }
.heading-center-border-center{
	text-align: center;
}
p.cms-load-posts{
	margin-bottom: 0;
}
.back_to_top{
	margin-bottom: 20px;
}
 
