/*--------------------------------------------------------------
8.0 - Media
--------------------------------------------------------------*/
img{
  max-width: 100%;
  height: auto;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.entry-content img,
.comment-content img,
.widget img,
img.header-image,
.author-avatar img,
img.wp-post-image {
}
.wp-caption,
.wp-caption-text,
.sticky,
.screen-reader-text,
.gallery-caption,
.bypostauthor {
  visibility: visible;
}
.wp-caption {
  max-width: 100%; 
  padding: 4px;
}
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
  font-style: italic;
  font-size: 12px;
  line-height: 2;
  color: #757575;
}

img.wp-smiley,
.rsswidget img {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.entry-content dl.gallery-item {
  margin: 0;
}
.gallery-item a,
.gallery-caption {
  width: 90%;
}
.gallery-item a {
  display: block;
}
.gallery-caption a {
  display: inline;
}
.gallery-columns-1 .gallery-item a {
  max-width: 100%;
  width: auto;
}
.gallery .gallery-icon img {
  height: auto;
  max-width: 90%;
  padding: 5%;
}
.gallery-columns-1 .gallery-icon img {
  padding: 3%;
}
/* Video background */
.row-bg-video{
  position: relative;
  overflow: hidden;
  .cms-bg-video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .wp-video-shortcode{
    width: 100%!important;
    height: auto!important;
  }
}