/*--------------------------------------------------------------
13.0 - Product
--------------------------------------------------------------*/
.woocommerce-page{
    #secondary.widget-area{
        margin-top: 0px;
        .widget h3.wg-title{
            margin-bottom: 40px;
        }
    }
    
    .before-shop-loop {
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 45px;
        .orderby {
            text-transform: uppercase;
            font-size: 12px;
            border: none;
            border-bottom: 1px solid #eee;
            border-radius: 2px;
            background: transparent;
            color: #4b4e53;
            font-size: 14px;
            margin: 0;
            outline: medium none;
            padding: 8px 20px 8px 0;
        }
        .woocommerce-result-count{
            margin-top: 10px;
        }
    }
    .woo-product.product{
        margin-top: 0;
        margin-bottom: 80px;
         
    }
    .cshero-woo-image img{
        width: 100%;
        -webkit-transform: rotate(0);
        -webkit-backface-visibility: hidden;
        @include opacity(1);
        @include transition(opacity 0.3s linear 0s);
        &:hover{
            @include opacity(0.6);
        }
    }
    .cshero-product-title h3{
        text-transform: uppercase;
        font-size: 14px;
        a{
            text-decoration: none;
        }
    }
    .cshero-product-price span{
        font-weight: bold;
        font-size: 16px;
    }
    .woo-add-to-cart{
        margin-top: 20px;
        a{
            min-width: 100px;
        }
    }
    .woocommerce-pagi{
        margin-top: 0;
        margin-bottom: 50px;
        li{
            display: inline-block;
            margin-left: 3px;
            margin-right: 4px;
            .page-numbers{
                width: 30px;
                height: 24px;
                background-color: #fff;
                border-top: 3px solid #ebebeb;
                border-right: 1px solid #ebebeb;
                border-left: 1px solid #ebebeb;
                padding-top: 3px;
                font-size: 11px;
                font-weight: 300;
                &:before,&:after{
                  bottom: -5px;
                  width: 15px;
                  height: 10px;
                  background-color: #fff;
                  border-bottom: 1px solid #ebebeb;
                }
                &:before{
                  -webkit-transform: skewY(-30deg);
                  -o-transform: skewY(-30deg);
                  transform: skewY(-30deg);
                }
                &:after{
                  -webkit-transform: skewY(30deg);
                  -o-transform: skewY(30deg);
                  transform: skewY(30deg);
                }
                &.current,&:hover{
                   border-top: 3px solid $secondary_color;
                   display: inline-block;
                   background-color: $primary_color;
                   color: #ffffff;
                }
                &.current:before,&.current:after,&:hover:before,&:hover:after{
                  background-color: $primary_color;
                  border-bottom-color: $primary_color;
                }
              }

        }
    }
}
.widget_product_search .searchform .form-search__submit{
    top: 7px;
}
 
.cms-product-relate-price-rating{
    .cshero-product-price{
        min-width: 50%;
        display: inline-block;
        text-align: center;
        padding-right: 10px;
        line-height: 1;
    }
    .star-rating{
        width: 50%;
        display: inline-block;
        padding-left: 10px;
    }
}
.woocommerce{
    .star-rating{
        color: #ffd526;
    } 
}
.woocommerce div.product p.price, 
.woocommerce div.product span.price{
    color: #303030;
    font-size: 16px;
    font-weight: 500;
}
.woocommerce-product-rating{
    .woocommerce-review-link{
        text-decoration: none;
        small{
            font-size: 100%;
        }
    }
}
/*------------------------------
  13.1 - Sidebar woo
------------------------------*/
.widget_product_search .searchform {
    padding: 7px;
}
.widget_product_categories{
    h3.wg-title{
        margin-bottom: 0 !important;
    }
    .product-categories li a:hover{
        padding-left: 48px;
    }
} 
.widget_products.widget{
    h3.wg-title{
        margin-bottom: 40px;
    }
    .product_list_widget{
        margin-bottom: 40px;
    }
}

/*------------------------------
  13.2 - List Product Widget
------------------------------*/
.woocommerce .woocommerce ul.product_list_widget {
    li {
        font-size: 13px;
        margin-bottom: 20px;
        padding: 0;
        &:last-child {
            margin-bottom: 0;
        }

        a {
            font-weight: normal;
            display: inline-block;
            &.cms-featured-wg {
                float: left;
            }

            img {
                float: left;
                margin: 0 15px 0 0;
                width: 70px;
            }
        }

        .cms-widget-product-desc {
            overflow: hidden;
            .product-title {
                display: block;
                text-transform: uppercase;
                font-weight: 400;
                line-height: 1.4;
                font-size: 13px;
            }
            del, ins {
                line-height: 19px !important;
                font-size: 13px !important;
            }

            ins {
                text-decoration: none;
            }

            .star-rating {
                line-height: 1 !important;
            }
        }
    }
}
.widget_price_filter{
    .woo-search-control{
        border: none;
        border-bottom: 1px solid #eee;
        border-radius: 0;
        background: transparent;
        color: #333;
        font-size: 12px;
        margin: 0;
        outline: medium none;
        padding: 8px 20px 8px 0;
    }
    .cms-button{
        margin-top: 20px;
        padding: 10px 37px;
        text-transform: uppercase;
        border: 1px solid #ebebeb;
        background-color: #fff;
        font-size: 14px;
        @include transition(all .3s);
        &:hover{
            background-color: $secondary_color;
        }
    }
}
.woocommerce a.added_to_cart{
    background-color: #fff;
    border-right: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    border-bottom: 3px solid $secondary_color;
    margin-left: 20px;
    padding: 12px 16px;
    font-size: 11px;
    text-transform: uppercase;
    transition: all 0.3s;
    color: #333;
    border-radius: 0;
    text-decoration: none;
}

/*------------------------------
  13.3 - Checkout page
------------------------------*/
body .shopping-cart-table {
    text-transform: uppercase;
    border-collapse: collapse;
    border-spacing: 0;
    color: $link_color;

    tr th, tr td {
        vertical-align: middle !important;
    }

    th {
        color: $link_color;
        font-weight: bold;
        text-transform: uppercase;
    }

    .product-thumbnail img {
        width: 70px;
    }

    .icon-close {
        font-size: 24px;
        color: $link_color !important;
        &:hover {
            color: $link_color_hover !important;
            background: 0 none;
        }
    }

    .cms-quantity input {
        width: 60px;
        padding: 9px 15px;
        border: 1px solid #dedede;
        &:focus {
            border-color: rgba(0, 0, 0, 0.7);
            color: #111;
            outline: 0 none;
        }
    }
}

.woocommerce-cart .contact-footer-page, .contact-footer-page.in-cart{
    margin-top: 150px;
}

/*------------------------------
  13.4 - Coupon
------------------------------*/
.coupon #coupon_code {
    width: 100%;
    border: 1px solid #dedede;
    padding: 9px 15px;
}
.cat-button{
    padding: 14px 20px;
}
.woocommerce {
    a{
        color: #333;
    }
    .form input[type="password"]:focus, .form input[type="date"]:focus, .form input[type="color"]:focus, .form input[type="text"]:focus, .form input[type="email"]:focus, .form input[type="number"]:focus, .form input[type="url"]:focus, .form input[type="search"]:focus, .form input[type="tel"]:focus, .form select:focus {
        border-color: rgba(0, 0, 0, 0.7);
        color: #111;
        outline: 0 none;
    }
}

.wc-proceed-to-checkout {
    padding: 0 !important;
    a {
        display: inline-block !important;
    }
}


/*------------------------------
  13.5 - CALCULATE SHIPPING
------------------------------*/
.woocommerce-shipping-calculator {
    .shipping-calculator-form {
        display: block !important;
    }
}

.cart-totals-shipping {
    background: #eee;
    padding: 40px;
}

.woocommerce-checkout #primary {
    margin-left: 0;
    margin-right: 0;
}

#ship-to-different-address .checkbox {
    float: left;
    margin: 0;
}

#ship-to-different-address-checkbox {
    position: relative;
    top: -2px;
}

.woocommerce table.shop_table_responsive tbody th, 
.woocommerce table.shop_table_responsive thead, 
.woocommerce-page table.shop_table_responsive tbody th, 
.woocommerce-page table.shop_table_responsive thead {
    display: block !important;
}

.woocommerce form .form-row input.input-text, 
.woocommerce form .form-row textarea {
    line-height: 1.4 !important;
}

.woocommerce-checkout {
    .form-row {
        margin-bottom: 30px !important;
        padding: 0 !important;
    }

    .cms-place-order {
        padding: 20px;
        margin: 0;

        #place_order {
            margin: 0 !important;
        }
    }

    .order_details {
        margin: 20px 0;
        strong {
            margin-top: 15px;
        }
    }

    .customer_details {
        tr td {
            background: #fff !important;
        }
    }
}

@media screen and (max-width: 767px) {
    .woocommerce-checkout .customer_details {
        tr td {
            border-top: none;
        }
    }
    .cat-button {
        float: right;
        margin-top: 0;
        min-width: 150px;
        padding: 14px 20px;
    }
    .cart-totals-shipping {
        margin-bottom: 20px;
        padding: 1px 20px 0;
    }
}

.woocommerce table.shop_table {
    @include css3-prefix(border-radius, 0px !important);
}
.woocommerce a.remove:hover .icon_close{
    color: #333;
}

.cart_totals{
    th{
        text-transform: uppercase;
        line-height: 32px;
        text-align: right;
    }
    span.amount{
        font-weight: bold;
        margin-left: 10px;
    }
    .wc-proceed-to-checkout{
        margin-top: 20px;
    }
}
#calc_shipping_postcode{
    width: 100%;
    border: 1px solid #dedede;
    padding: 9px 15px;
    box-shadow: none;
}
.woocommerce form .form-row{
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* maxclean-product-tab */
.woocommerce{
    .desc-review{
        margin-top: 70px;
    }
    .maxclean-product-tab{
        .comment-respond .comment-form{
            input[type="text"],
            input[type="email"]{
                height: 38px;
            }
        }
    } 
    .maxclean-product-tab{
        border: 1px solid #d0d0d0 !important;
        ul.nav-tabs{
            font-size: 14px;
            font-weight: bold;
            font-family: "Ubuntu";
            padding-left: 0 !important;
            border-bottom: 0 !important;
            li{
                border: 0 !important;
                background: #fff !important;
                padding: 0 !important;
                margin: 0 !important;
                &:before,&:after{
                    content: none !important;
                }
                &.active{
                    color: $primary_color;
                    border-right-color: #d0d0d0 !important;
                    &:last-child{
                        a{
                            border-right-color: #d0d0d0 !important;
                        }
                    }
                }
                a{
                    padding: 18px 20px !important;
                    color: #333;
                    border-left: transparent !important;
                    margin-right: 0;
                    border-right-color: #d0d0d0;
                    border-top-color: transparent !important;
                    @include border-radius(0);
                }
                &:last-child{
                    a{
                        border-right-color: transparent !important;
                    }
                }
            }
        }
        .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
            color: $primary_color;
            cursor: default;
            background-color: #fff;
            border-left: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-right-color: #d0d0d0;
        }
        .tab-content{
            >.active {
                background: #fff;
            }
            .tab-pane{
                padding: 14px 20px 17px 20px;
                color: #777;
                background: #fff;
            }
            #tab-description{
                h2{
                    display: none;
                }
                p:last-child{
                    margin-bottom: 0;
                }
            }
            #reviews{
                #comments{
                    ol.commentlist{
                        padding-left: 0;
                        li img.avatar {
                            float: left;
                            position: relative;
                            top: 10px;
                            left: 0;
                            width: 70px;
                            height: auto;
                            margin: 0;
                            box-shadow: none;
                            border-radius: 50%;
                            background: none;
                            border: none;
                        }
                    }
                } 
            } 
            .comment-main{
                padding-left: 40px;
                .comment-meta,.meta{
                    margin-left: 50px;
                    margin-bottom: 10px;
                    @media screen and (max-width: 320px) {
                        margin-bottom: 15px;
                    }
                }
                .comment-author{
                    margin-left: 0;
                }
                .meta{
                    margin-bottom: 0;
                }
            }
            .comment-respond{
                h3.comment-reply-title{
                    color: #272930;
                    font-weight: bold;
                    font-size: 16px;
                    margin-top: 30px;
                    line-height: 28px;
                }
            }
            #respond input#submit{
                font-family: "Ubuntu";
                line-height: 23px;
                padding: 4px 14px;
                margin-top: 8px;
                font-weight: 400;
                text-align: center;
                white-space: nowrap;
                border: 1px solid #777;
                border-radius: 2px;
                float: right;
                background: #fff;
                @include transition(all 300ms linear 0ms); 
                &:hover{
                    background: $primary_color;
                    border-color: $primary_color;
                    color: #fff;
                }
            }
        }
    }
}

/*------------------------------
  13.6 - Single product
------------------------------*/
.single-product #content{
    margin-top: 100px;
}
.woocommerce .woocommerce-tabs{
    margin-bottom: 20px;
    margin-top: 50px;
    border-bottom: 0;
}
 

.cms-popup-gallery.m-0{
    margin-bottom: 40px;
    @media screen and (max-width:991px) {
        max-width: 370px;
    }
}
.cms-thumbnails.cms-popup-gallery{
    margin-top: 5px;

    a{
        margin: 0;
        padding: 0;
    }
}

.cms-quantity .qty{
    padding: 15px 0 15px 10px;
    width: 100%;
}
.related-product-carousel{
    overflow: hidden;
    .cms-product{
        padding: 10px;
        .cms-product-title{
            h3{
                font-size: 14px;
                text-transform: uppercase;
            }
            a{
                text-decoration: none;
            }
        }
        .cshero-product-price .amount{
            font-weight: bold;
            font-size: 16px;
        }
    }
}
#tab-reviews{
    .commentlist{
        span.comment-author{
            margin-left: 50px;
        }
    }
}

.woocommerce #review_form #respond{
    input[type="text"]{
        border: 1px solid #ddd !important;
    }
    .comment-form-comment textarea{
        padding: 6px 12px;
        border: 1px solid #ddd;
        display: block;
        margin-top: 10px;
    }
}
.woocommerce #review_form #respond .row{
    .comment-form-rating,.comment-form-comment,.form-submit{
        padding-left: 15px;
    }
}
.woocommerce #review_form #respond .form-submit input.submit, .woocommerce-message a.button{
    border-radius: 0;
    border: 1px solid #cfcfcf;
    background-color: #fff;
    padding: 8px 12px;
    border-bottom: 3px solid $secondary_color;
    min-width: 100px;
    text-transform: uppercase;
    &:hover{
        box-shadow: none;
        outline: none;
        background-color: #fff; 
        border-bottom-color: $primary_color !important; 
        color: #333; 
        border-color: #ebebeb;
         
    }
}
@media screen and (max-width: 767px) {
    .related-product-carousel{
        .cms-product{
            padding: 0;
        }
    }
    .woocommerce #review_form #respond #commentform .row{
        .comment-form-author,.comment-form-email{
            padding-left: 0;
            padding-right: 0;
        }
        p{
            padding-left: 15px;
            padding-right: 15px;
        }
    } 
   

}
.woocommerce td.product-quantity .cms-quantity{
    padding-left: 0;
}

/*------------------------------
  13.7 - Check out
------------------------------*/
.woocommerce-checkout{
    #order_comments{
        margin-top: 12px;
        padding: 10px;
    }
    .select2-search input{
        min-height: 30px;
    }
    input.input-text{
        border: 1px solid #ddd;
    }
}

.select2-container--default .select2-selection--single{
    height: 50px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    padding: 6px 12px;
    line-height: 36px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 48px;
}