
@media screen and (min-width: 1200px) {
  body .cs-boxed {
    margin: auto;
    width: 1200px;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 992px) {
    .header .header-top .slogan{
        height: 57px;
    }
}
@media screen and (max-width:1199px) {
    body .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .header{
        .header-top{
            .header-contacts a{
	           padding: 22px 10px 15px;
            }
        }
    }
    .woocommerce-page{
        .woo-add-to-cart{
            text-align: center;
        }
        .woo-add-to-cart a{
            margin-left: 0 !important;
            margin-top: 10px;
            max-width: 100%;
            min-width: 100px;
            width: 50%;
        }
    } 
    
}

@media (min-width:1130px) and (max-width:1199px) {
    .cms-fancyboxes-wraper-bgcolor:after{
        border-right-width: 186px;
        border-left-width: 186px;
     }
}
@media (min-width:1050px) and (max-width:1129px) {
    .cms-fancyboxes-wraper-bgcolor:after{
        border-right-width: 172px;
        border-left-width: 172px;
     }
}
@media (min-width:992px) and (max-width:1049px) {
     .cms-fancyboxes-wraper-bgcolor:after{
        border-right-width: 160px;
        border-left-width: 160px;
     }
}
@media (min-width:930px) and (max-width:991px) {
     .cms-fancyboxes-wraper-bgcolor:after{
        border-right-width: 152px;
        border-left-width: 152px;
    }
}
@media (min-width:860px) and (max-width:929px) {
     .cms-fancyboxes-wraper-bgcolor:after{
        border-right-width: 140px;
        border-left-width: 140px;
    }
}
@media (min-width:800px) and (max-width:859px) {
     .cms-fancyboxes-wraper-bgcolor:after{
        border-right-width: 130px;
        border-left-width: 130px;
    }
}
@media (min-width:768px) and (max-width:799px) {
     .cms-fancyboxes-wraper-bgcolor:after{
        border-right-width: 122px;
        border-left-width: 122px;
    }
}
@media (max-width:767px) {
    .cms-fancyboxes-wraper-bgcolor{
        width: 270px;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
        top: 0;
    }
    .cms-fancyboxes-wraper-bgcolor:after{
        border-right-width: 135px;
        border-left-width: 135px;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .header{
        .header-top{
            .slogan {
                font-size: 10px; 
            }
        }
     }
    #cshero-header-navigation .main-navigation li a{
        padding: 0 15px;
    }
}

@media screen and (max-width:991px) {
    .cshero-header-cart-search{
        float: none;
        .header {
            position: absolute;
            right: 76px;
        }
        .widget_cart_search_wrap{ 
            position: inherit;
            .widget_searchform_content{
                top: 100%;
            }
        }
    } 
    #bg-responsive{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        background-color: $primary_color !important;
        background-image: none !important;
    }
    #secondary.widget-area{
        padding-left: 0;
    }
    .footer .footer-1 .btn-footer{
        margin-top: 20px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .header{
        .header-top{
            .slogan {
                padding: 12px 12px 6px;
                text-align: center;
            }
        }
        .header-top .header-social .cms-social li {
            margin-right: 10px;
        }
    }
    .cms-fancybox-icon-top .fancy-box-text-title{
        font-size: 12px;
    }
    .btn.btn-second.button-large{
        font-size: 12px;
    } 

}
 
@media screen and (max-width:767px) {
    .header{
        .header-top{
            overflow: hidden;
            .slogan {
                padding: 11px;
                border-left: medium none;
                border-right: medium none;
                text-align: center;
            }
            .header-social {
                border-top: 1px solid #ebebeb;
                text-align: center;
                margin-left: -15px;
                margin-right: -15px;
            }
            .header-contacts {
                border-top: 1px solid #ebebeb;
                margin-top: 20px;
                text-align: center;
                margin-left: -15px;
                margin-right: -15px;
                a{
                    padding: 10px 9px 10px 10px;
                }
            }
        }
    }   
    .form-request form .col-md-12{
        text-align: center;
    }
    .button-large{
        margin: 0 0 50px !important;
    }
    .wpb_row.hide-bg-mobile{
        background: none !important;
        background-image: none !important;
    }
    .pp_pic_holder.light_square{
        width: 100% !important;
        left: 0 !important;
        background: #fff;
        .pp_content{
            width: 100% !important;
            height: auto !important;
            .pp_hoverContainer{
                width: 100% !important;
                height: auto !important;
            }
            #pp_full_res img{
                width: 100% !important;
                height: auto !important;
            }
            .pp_details{
                width: 100% !important;
                margin-top: 20px;
            }
        }
    }
    .cms-fancyboxes-wraper-bgcolor{
        margin-bottom: 50px;
    }
}
@media screen and (max-width:480px) {
    .slide-capture{
        line-height: 30px !important;
        font-size: 20px !important;
      
    }
    .tp-caption.tp-resizeme{
        min-width: 200px !important;
        max-width: 320px !important;
    }
    .footer {
        .footer-1{
            margin-top: 0;
            ul#menu-footer-menu li{
                display: block;
                margin-bottom: 10px;
            }
            .btn-footer{
                font-size: 12px;
                margin-top: 20px;
            }
        }
        .widget h3.wg-title{
            text-align: center;
        }
    }
    #menu-footer-menu li{
        margin-right: 0;
    }
    .heading-left-border-left.border-color,
    .heading-center-border-left.border-color,
    .heading-center-border-center.border-color,
    .heading-left-border-center.border-color{
        width: 250px !important;
    }
    .section_404 .border-color{
        width: 100%;
    }
}
@media screen and (max-width:400px) {
    .heading-center-border-center.border-color{
        width: 150px !important;
    }
    .vc_custom_heading.heading-left-border-left.border-color.layout3-small{
        width: 200px !important;
    }
    .heading-center-border-left.border-color{
        margin-left: 0 !important;
        width: 210px !important;
    }
    .block-btns{
        text-align: center;
        .btn{
            width: 70%;
            margin-left: 0;
        }
    }
}

