/*--------------------------------------------------------------
10.0 - Sidebar
--------------------------------------------------------------*/

#secondary.widget-area{
	padding-left: 50px;
	max-width: 320px;
	@media screen and (max-width: 991px) {
		max-width: 100%;
	}
	.widget_text h3.wg-title{
		margin-bottom: 40px;
	}
}
 
#secondary-left aside{
	margin-bottom: 67px;
}
#secondary aside{
	margin-bottom: 55px;
}
#page-left-sidebar #secondary.widget-area{
	padding-right: 50px;
	padding-left: 0;
    max-width: 100%;
}
#page-left-sidebar{
	article .container{
		width: 100%;
	} 
}
#page-right-sidebar,#page-front-page{ 
	#secondary.widget-area{
		padding-left: 50px;
		.textwidget{
			margin-top: 40px;
		}
	} 
}
 
#page-front-page .row{
	margin-bottom: 35px;
}
#page-right-sidebar article .container{
	width: 100%;
}

.single-post .widget-area{
	.textwidget{
		margin-top: 40px;
	    line-height: 1.65;
	}
	
}
.widget h3.wg-title{
    padding-bottom: 25px;
    margin-top: 0;
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
	border-bottom: 3px solid $secondary_color;
    margin-bottom: 40px;
}
#secondary-left,.widget-area{
	.widget_cs_allservices_widget,
	.widget_cs_carousel_widget,
	.widget.widget_search,
	.widget.widget_categories,
	.widget.widget_cs_carousel_widget,
	.widget.widget_pages,
	.widget.widget_nav_menu,
	.widget.widget_archive,
	.widget_wp_maxclean_carousel_widget
	{
		h3.wg-title{
			margin-bottom: 0;
		}
		>label{
			margin-top: 40px;
		}
	} 
}

 
.entry-header a {
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
#secondary-left{
	padding-top: 65px;
	.list-sidebar {
		margin-bottom: 0;
		padding-top: 34px;
		padding-bottom: 6px;
		background-color: #f8f8f8;
	    padding-left: 0;
    	list-style: none;
    	margin-top: 0;
		.list-sidebar-item{
			&:hover a{
				font-weight: 400;
				text-decoration: none;
				color: $primary_color;
			}
		}
	}
	
	.list-sidebar-link {
		position: relative;
		padding-right: 15px;
		padding-bottom: 24px;
		padding-left: 48px;
		display: block;
		font-size: 15px;
		line-height: 1.2;
		color: #606060;
		font-weight: 300;
		.icon {
			position: absolute;
			top: -3px;
			left: 0;
			display: inline-block;
			width: 18px;
			height: 22px;
			opacity: 0;
			@include transition(all .3s);
			&:before,&:after {
				position: absolute;
				right: -4px;
				width: 6px;
				height: 11px;
				content: '';
			    @include transition(all .3s);
			}
			&:before {
				top: 0;
				@include transform(skewX(25deg));
			}
			&:after {
				bottom: 0;
			    @include transform(skewX(-25deg));
			}
		}
		
	}
 
	.list-sidebar-link:hover .icon,
	.list-sidebar-link:hover .icon:before,
	.list-sidebar-link:hover .icon:after {
		text-decoration: none;
		background-color: $secondary_color;
		opacity: 1;
	}
}

/*------------------------------
  10.1 - Carousel widget
------------------------------*/
.cms-carousel-widget{
	padding-top: 40px;
	.list-clients-item{
		padding-left: 7px;
		padding-right: 7px;
		img{
			max-height: 60px;
			width: auto !important;
		}
	}
	.owl-controls{
		top: -50px;
	}
}
/* contact info*/
.sidebar-contacts {
    margin-top: 24px;
    padding-left: 6px;
    .sidebar-contacts__title {
	    font-size: 13px;
	    font-weight: 500;
	    color: $primary_color;
	}
	.ui-text {
	    line-height: 1.7;
	    strong {
		    font-weight: 500;
		}
		a{
			display: block;
			width: 100%;
		    color: #333;
		}
	}
}
.widget_meta,.widget_recent_entries,.widget_recent_comments{
	ul li{
		padding: 5px 0;
		a{
			text-decoration: none;
			&:hover,&:active,&:visited{
				text-decoration: none;
			}
		}
	}
} 

/*------------------------------
  10.2 - vc blog sidebar
------------------------------*/
.wpb_widgetised_column{
	.wpb_wrapper{
		 
		.widget {
		    margin-bottom: 55px;
		    &:first-child {
		      
		    }
		} 
		.ui-title-inner {
			margin-bottom: 22px;
			font-family: 'Roboto Condensed';
			text-transform: uppercase;
		}
		.border-color {
			border-width: 3px;
			&:after {
				width: 0;
			}
		}
	}
	&.twitter-carousel .widget{
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.textwidget{
		margin-top: 40px;
	}
}
@media screen and(max-width:767px){
	.wpb_widgetised_column .wpb_wrapper{
		padding-left:0;
		max-width: 100%;
		margin: auto;
	}
	.wpb_widgetised_column .widget .owl-carousel .owl-item img{
		width: auto;
	}
}
.widget_product_search,.widget_search {
	.searchform {
		position: relative;
		padding: 15px;
		border-bottom: 1px solid #eee;
		.form-search__input{
			padding-right: 50px;
			width: 100%;
			background-color: transparent;
			border: none;
			padding: 0;
		    height: 22px;
		    min-height: 22px;
		}
		.form-search__submit{
			position: absolute;
			top: 15px;
			right: 0;
			width: 50px;
			height: 22px;
			background-color: transparent;
			border-top: none;
			border-right: none;
			border-bottom: none;
			border-left: 1px solid #ebebeb;
			.icon {
				font-size: 14px;
				color: $primary_color;
				margin-left: 0;
			}
		}

	}

}
.widget-area{
	.widget_product_categories,
	.widget_categories,
	.widget_pages,
	.widget_nav_menu,
	.widget_archive,
	.widget_recent_entries,
	.widget_meta,
	.widget_recent_comments{
		>ul{
			background-color: #f8f8f8;
			padding-top: 40px;
			padding-bottom: 20px;
		}
		ul{
		    margin-bottom: 0;
	        list-style: none;
	    	padding-left: 0;
	    	margin-top: 0;
		    a {
				position: relative;
				padding-right: 15px;
				padding-bottom: 20px;
				padding-left: 48px;
				display: inline-block;
				font-size: 15px;
				line-height: 24px;
				font-weight: 300;
				color: #606060;
				.icon {
					position: absolute;
					top: 1px;
					left: 0;
					display: inline-block;
					width: 18px;
					height: 22px;
					opacity: 0;
					margin-left: 0;
					@include transition(all .3s);
					&:before,&:after {
						position: absolute;
						right: -4px;
						width: 6px;
						height: 11px;
						content: '';
					    @include transition(all .3s);
					}
					&:before {
						top: 0;
						@include transform(skewX(25deg));
					}
					&:after {
						bottom: 0;
					    @include transform(skewX(-25deg));
					}
				}
				&:hover {
					font-weight: 400;
					text-decoration: none;
					color: $primary_color;
				}
			}
		 
			a:hover .icon,
			a:hover .icon:before,
			a:hover .icon:after {
				text-decoration: none;
				background-color: $secondary_color;
				opacity: 1;
			}
		}
	}
	.widget_recent_comments > ul{
		padding-left: 48px;
		padding-right: 15px;
	}
}

 
.cms-popular-posts{
	h3.wg-title{
		margin-bottom: 40px;
	}
	.entry-main {
		margin-right: 130px;
		.border-color {
			margin-left: 0;
			width: 40px;
			border-width: 3px;
			&:after {
				margin-left: 0;
				width: 20px;
			}
		}
	}
	.entry-header {
		margin-top: 0;
		margin-bottom: 15px;
	}
	.entry-thumbnail {
		float: right;
		img{
			width: 115px;
		}

	}
	.entry-meta {
		margin-bottom: 20px;
	    padding-left: 0;
	}

	.widget-post__item {
		 margin-bottom: 40px;
	}
	@media screen and (max-width: 991px){
		.entry-thumbnail {
			float: none;
			margin-bottom: 10px;
		}
		.entry-main {
		 	margin-right: 0;
		}
	} 
}

/*------------------------------
  10.4 - widget tag
------------------------------*/
.widget_product_tag_cloud,.widget_tag_cloud{
	h3.wg-title{
		margin-bottom: 40px;
	}
	a{
		margin-right: 5px;
		margin-bottom: 10px;
		display: inline-block;
		padding: 9px 23px;
		font-family: 'Roboto Condensed';
		font-size: 14px !important;
		text-align: center;
		color: #333;
		background-color: #fff;
		border: 1px solid #ebebeb;
		@include transition(all .3s);
		&:hover{
			text-decoration: none;
			background-color: $secondary_color;
			border-color: $secondary_color;
		}
	}
}

