/*--------------------------------------------------------------
11.0 - Typography
--------------------------------------------------------------*/
.widget_nav_menu {
  ul, ol{
    padding-left: 15px;
    a{
    	padding-left: 0;
    	span.title-attribute{
    		display: block;
    	}
    }
    ul{
    	margin-left: 0;
    }
  }
}