/*--------------------------------------------------------------
12.0 - Widgets
--------------------------------------------------------------*/
.cms-social:after {
	display: table;
	clear: both;
	content: '';
}

.cms-social li {
	margin-right: 20px;
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
}

.cms-social li:last-child {
	margin-right: 0;
}

.cms-social li .icon {
	cursor: pointer;
}

.cms-social li a {
	color: #333;
	-webkit-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
}

/*------------------------------
  12.1 - Widget Search Top
------------------------------*/
.cshero-header-cart-search {
    float: right;
	.header {
    	a {
    		position: relative;
            line-height: 103px;
            padding: 0 13px;
            display: inline-block;
            outline: 0;
            color: #333;
    		.cart_total {
			    @include border-radius(50%);
			    font-size: 10px;
			    height: 16px;
			    left: 25px;
			    line-height: 16px;
			    position: absolute;
			    text-align: center;
			    top: 6px;
			    width: 16px;
			    color: #333;
    		}
    	}
    	.icon_cart_wrap{
    		background-color: $secondary_color;
    		padding: 6px 24px 0px 12px;
    		line-height: 16px;
    		&:after{
			    position: absolute;
			    z-index: 1;
			    bottom: -50px;
			    left: 0;
			    display: block;
			    width: 100%;
			    content: '';
			    border-top: 9px solid;
			    border-right: 24px solid transparent;
			    border-bottom: 42px solid transparent;
			    border-left: 24px solid transparent;
			    border-top-color: $secondary_color;
			    right: 0;
    		}
            &:hover{
                background-color: $primary_color;
                &:after{
                    border-top-color: $primary_color;
                }
            }
    	}
    }
	.widget_searchform_content {
		display: none;
		left: auto !important;
	    position: absolute;
	    right: 0px;
	    width: 100%;
	    max-width: 300px;
	    min-width: 280px;
	    padding: 12px;
	    background-color: #fff;
	    @include box-shadow(0px, 4px, 6px, rgba( 0, 0, 0, 0.2 ));
		z-index: 1;
	    form {
	    	margin: 0;
	    	position: relative; 
	    	input[type*="submit"] {
			    border-color: transparent;
			    background-color:transparent;
			    height: 38px;
			    padding: 0;
			    position: absolute;
			    right: 4px;
			    text-indent: -9999px;
			    top: 2px;
			    width: 38px;
			    z-index: 1;
	    	}
	    	&:before {
	    		color: #333;
	    		content: "\e618";
	    		font-family: 'Pe-icon-7-stroke';
	    		font-size: 22px;
			    position: absolute;
			    right: 12px;
			    top: 11px;
	    	}
	    }
	}
	.shopping_cart_dropdown {
        left: auto !important;
        max-width: 350px;
        right: 0;
		a.btn {
		    background-color: $secondary_color;
            border-color: $secondary_color;
            border-radius: 3px;
            border-style: solid;
            border-width: 2px;
            color: #333;
            font-size: 13px;
            font-weight: 700;
            padding: 10px 20px;
            text-transform: uppercase;
		    &:hover {
		    	background-color: $primary_color;
                border-color: $primary_color;
		    	color: #fff;
		    }
		}
       .total{
            text-transform: uppercase;
            color: #999;
            font-weight: 700;
            font-size: 14px;
            margin-top: 10px;
        }
	}
}
.header-fixed .cshero-header-cart-search .header a{
	line-height: 65px;
}
.header-fixed .cshero-header-cart-search .header .icon_cart_wrap{
	line-height: 16px;
}
/* End Widget Search Top */