.widget_cart_search_wrap{ position: relative;}
.widget_cart_search_wrap .shopping_cart_dropdown{ 
    display: none; 
    position: absolute; 
    top: 100%; 
    min-width: 320px; 
    background: #fff; 
    padding: 20px 10px 10px 10px; 
    text-align: left; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.widget_cart_search_wrap .shopping_cart_dropdown .shopping_cart_dropdown_inner{ margin-bottom: 10px;}
.widget_cart_search_wrap .shopping_cart_dropdown.active{ z-index: 1000;}

.widget_cart_search_wrap ul.cart_list{
    border-bottom: 1px solid #eee;
}
.widget_cart_search_wrap ul.cart_list li{ 
    margin-bottom: 10px;
    font-size: 16px;
    color: #999;
    padding: 4px 0;
    margin: 0;
    list-style: none;
}
.widget_cart_search_wrap ul.cart_list li a{
    display: block;
    font-weight: 700;
}
.widget_cart_search_wrap ul.cart_list li a img{ 
    float: right;
    margin-left: 4px;
    width: 32px;
    height: auto;
    box-shadow: none;
}
